<nav class="uk-navbar uk-visible-small">
  <div class='uk-container uk-container-center'>
    <ul class="uk-navbar-nav uk-navbar-flip">
      <li class="uk-active uk-parent" data-uk-dropdown="{mode:'click'}">
        <a href="/wiki/">База знаний</a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="/population/">Население</a></li>
            <li><a href="/money/">Монеты</a></li>
            <li><a href="/production/">Ресурсы</a></li>
            <li><a href="/happiness/">Счастье</a></li>
            <li><a href="/goods/">Товары</a></li>
            <li class='divider'></li>
          </ul>
          <ul class="uk-nav uk-nav-navbar">
            <li class="uk-nav-header" style='padding: 5px 0'><a href='/wiki/'>Энциклопедия</a></li>
            <li><a href="/wiki/epoch/">Эпохи</a></li>
            <li><a href="/wiki/technology/">Технологии</a></li>
            <li><a href="/wiki/houses/">Дома</a></li>
            <li><a href="/wiki/society/">Общественные постройки</a></li>
            <li><a href="/wiki/decor/">Декор</a></li>
            <li><a href="/wiki/road/">Дороги</a></li>
            <li><a href="/wiki/production/">Производственные постройки</a></li>
            <li><a href="/wiki/manufactory/">Промышленные постройки</a></li>
            <li><a href="/wiki/legend/">Великие Строения</a></li>
            <li class='divider'></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>