{%extends "layout.html"%}
{%block title%}Калькулятор расчёта обменного курса товаров в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Калькулятор расчёта обменного курса товаров в&nbsp;Forge of&nbsp;Empires</h1>
  <hr>
  <p>Рассчитывайте точную курсовую стоимость товаров (обменный курс) на основании объективных данных о стоимости производства.</p>
  <div class='uk-panel uk-panel-box'>
    <form class="uk-form" method="get">
      <legend>Выберите товары для расчёта курса</legend>
      <div class="uk-form-controls">
        {{ form }}
        <button type="submit" class="uk-button uk-button-primary uk-button-small uk-margin-left">Расчитать курс</button>
      </div>
    </form>
    {%if data == 1%}
    <p class='foe-lead'><strong>{{ g1_quantity }} = {{ g2_quantity|floatformat:"0" }}</strong></p>
    <p>(Себестоимость производства <strong>{{ g1_quantity }} единиц товара "{{ g1_name }}"</strong> соответствует себестоимости производства <strong>{{ g2_quantity|floatformat:"0" }} единиц товара "{{ g2_name }}"</strong>)</p>
    {%endif%}
  </div>
  <table class='uk-table uk-table-striped'>
    <caption>Себестоимость производства единицы товара при наличии источника сырья</caption>
    {%if epoch_list%}
      <tr>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'></th>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'></th>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'>Монет / Ресурсов <br/><small>с учетом себестоимости <br/>товара-сырья</small></th>
      </tr>
      {%for i in epoch_list%}
        {% if i.id != 1 %}
          <tr>
            <td>
              {{ i.name }}
            </td>
            <td>
              {{ i.goods }}
            </td>
            <td>
                {%for j in i.var%}
                    {% if forloop.first %}
                        {%for k in j.cost%}
                            {% if k.good_cost %}
                                {%for p in k.p%}
                                  {% if p.good_cost %}
                                    {%for n in p.p%}
                                      {{ n.money_cost }} / {{ n.resource_cost }}
                                    {%endfor%}
                                  {%else%}
                                    {{ p.money_cost }} / {{ p.resource_cost }}
                                  {%endif%}
                                {%endfor%}
                            {%else%}
                                {{ k.money_cost }} / {{ k.resource_cost }} 
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                {%endfor%}
            </td>
          </tr>
        {%endif%}
      {%endfor%}
    {%endif%}
  </table>
{%endblock%}
