{%extends "layout.html"%}
{%block title%}Эпохи в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Эпохи Forge of&nbsp;Empires</h1>
  {% if epoch_list %}
    {% for epoch in epoch_list %}
      <h2><a href='/wiki/epoch/{{ epoch.id }}/'>{{ epoch.name }}</a></h2>
      {{ epoch.desc|safe }}
    {% endfor %}
  {% else %}
    <p>Я пока ничего не написал об эпохах Forge of&nbsp;Empires.</p>
  {% endif %}
{%endblock%}
{%block footer_title%}Обращайтесь и - Вам повезет!{%endblock%}
{%block footer_zakaz%}Заказать грузовую Газель{%endblock%}