{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}{{ epoch.name }} - Эпохи в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
    <h1>{{ epoch.name }}</h1>
    {{ epoch.desc|safe }}
    <h2>Технологическое развитие</h2>
    <div class='uk-grid'>
        <div class='uk-width-1-2'>
            <h3>Список технологий эпохи</h3>
            <ul class="uk-list uk-list-striped">
                {% for i in tech%}
                <li>{{ i.name }}</li>
                {% endfor %}  
                <li style='border-top: solid grey 1px'><strong>ВСЕГО ТЕХНОЛОГИЙ: {% for i in tech_count%}{{ i }}{% endfor %}</strong></li>
            </ul>
        </div>
        <div class='uk-width-1-2'>
            <h3>Необходимо для изучения и открытия</h3>
            <div class='uk-panel-box foe-need-box'>
                <div class='uk-clearfix foe-need-item'>
                    <img class='uk-float-left' src="{%static 'img/so.png'%}"/>
                    <div class='foe-need-detail'>
                        <span>Cтратегических очков</span>
                        <span class='foe-quantity'>{% for i in point_cost%}{{ i }}{% endfor %}</span>
                    </div>
                </div>
                {% if resource_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/resource.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Ресурсов</span>
                    <span class='foe-quantity'>{% for i in resource_cost%}{{ i }}{% endfor %}</span>
                  </div>
                </div>
                {% endif %}
                {% if money_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/money.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Монет</span>
                    <span class='foe-quantity'>{% for i in money_cost%}{{ i }}{% endfor %}</span>
                  </div>
                </div>
                {% endif %}
                {% if diamond_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/diamonds.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Бриллиантов</span>
                    <span class='foe-quantity'>{% for i in diamond_cost%}{{ i }}{% endfor %}</span>
                  </div>
                </div>
                {% endif %}
                {% if names %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Товаров</span>
                    {% for name, amount in names %}
                      <span class='foe-quantity'>{{ amount }} {{ name }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <h2>Постройки</h2>
    <div class='uk-grid'>
        <div class='uk-width-1-2'>
            <h3>Дома</h3>
            <table class='uk-table foe-table'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Населения с одной клетки</th>
                        <th>Монет за интервал времени</th>
                    </tr>
                    {%for i in house_list%}
                    <tr {%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
                        <td>{{ i.name }}</td>
                        <td>{{ i.e|floatformat:"2" }}</td>
                        <td>{{ i.production__quantity }} за {% if i.production_delay_h %}{{ i.production_delay_h }}{% else %}{{ i.production_delay_m }}{% endif %} {{ i.time }}</td>
                    </tr>
                    {%endfor%}
                </thead>
            </table>
        </div>
        <div class='uk-width-1-2'>
            <h3>Производственные постройки</h3>
            <table class='uk-table foe-table'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Производительность труда</th>
                        <th>Ресурсов с одной клетки в сутки</th>
                    </tr>
                    {%for i in production_list%}
                    <tr {%if i.plant__premium = 1%}class='premium'{%endif%}{%if i.plant__bonus = 1%}class='bonus'{%endif%}>
                        <td>{{ i.plant__name }}</td>
                        <td>{{ i.c|floatformat:"2" }}</td>
                        <td>{{ i.e|floatformat:"2" }}</td>
                    </tr>
                    {%endfor%}
                </thead>
            </table>
        </div>
    </div>
    <div class='uk-grid'>
        <div class='uk-width-1-2'>
            <h3>Общественные постройки</h3>
            <table class='uk-table foe-table'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Счастья с одной клетки</th>
                    </tr>
                    {%for i in society_list%}
                    <tr {%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
                        <td>{{ i.name }}</td>
                        <td>{{ i.e|floatformat:"2" }}</td>
                    </tr>
                    {%endfor%}
                </thead>
            </table>
        </div>
        <div class='uk-width-1-2'>
            <h3>Декор</h3>
            <table class='uk-table foe-table'>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Счастья с одной клетки</th>
                    </tr>
                    {%for i in dekor_list%}
                    <tr {%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
                        <td>{{ i.name }}</td>
                        <td>{{ i.e|floatformat:"2" }}</td>
                    </tr>
                    {%endfor%}
                </thead>
            </table>
        </div>
    </div>
    <h2>Великие Строения</h2>
    <div class='uk-grid'>
    {% for n in legend_list %}
        <div class='uk-width-1-2'>
            <h3 class='foe-tech-title'><a href='/wiki/legend/{{ n.id }}/'>{{ n.name }}</a></h3>
            <div class='uk-grid'>
                <div class='uk-width-large-4-10'>
                  <a href='/wiki/legend/{{ n.id }}/'><img class='uk-thumbnail' src="{{ n.pict }}-/resize/149x/"/></a>
                </div>
                <div class='uk-width-large-6-10'>
                  <p>
                    <strong>Требуется дорога:</strong>
                    <br/>{% if n.road_width == 1 %}Одинарная (одноклеточная){% else %}Двойная (двуклеточная){% endif %}
                  </p>
                  <p>
                    <strong>Занимает площадь:</strong>
                    <br/>{{ n.width }}х{{ n.height }} клетки
                  </p>
                  <p>
                    <strong>Даёт бонусы:</strong>
                    {% for k in n.legend_level %}{% for i in k.legend_bonus %}
                      <br/>{{ i.legend_bonus }}
                    {% endfor %}{% endfor %}
                  </p>
                </div>
              </div>
        </div>
    {% endfor %}          
    </div>
    <div class='uk-margin'></div>
{%endblock%}