{%extends "layout.html"%}
{%block title%}Товары в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Товары в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>Товары в игре Forge of Empires необходимы для постройки Великих Строений, открытия технологий и покупки провинций.</p>
  <hr>
  <h2>Производство товаров</h2>
  <p>Товары производятся в промышленных постройках, с полным списком которых можно ознакомиться в разделе энциклопедии <a target='_blank' href="/wiki/manufactory/">"Промышленные постройки"</a>. Всего на каждую эпоху приходится по пять видов товаров и, соответственно, — по пять построек для их производства. При производстве товаров потребляются монеты и ресурсы.</p>
  <p>Уровень производства товаров промышленными постройками очень зависит от наличия в подвластных вам провинциях источника сырья: если сырье имеется, то производство увеличивается в 5 раз. Из пяти возможных источников сырья для игрока в каждую эпоху доступно только два. На обмене товаров, которые производить выгодно, на товары, которые производить не выгодно, построена система торговли в Forge of&nbsp;Empires.</p>
  <p>Кроме промышленных построек важную роль в производстве товаров играют Великие Строения. В силу того, что бонус "производство товаров" - самый распространенный {%if legend_list_goods%} ({%for i in legend_list_goods%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.legendbonusvalue__legend_level__legend__id }}'>{{ i.legendbonusvalue__legend_level__legend__name }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.legendbonusvalue__legend_level__legend__id }}'>{{ i.legendbonusvalue__legend_level__legend__name }}</a>, {%endif%}{%endfor%}){%endif%}, и если у вас построена хотя бы часть из них, содержание промышленных построек может и не иметь для вас никакого смысла. Однако, за исключением Эпохи Модерна, Великие Строения производят только товары текущей эпохи, а в Эпоху Модерна - наоборот, только предыдущих эпох, поэтому заменить собой промышленные постройки полностью Великие Строения не в состоянии.</p>
  <h2>Дополнительные источники товаров</h2>
  <p>Как и в случае с монетами и ресурсами, товары в Forge of&nbsp;Empires можно получать, проявляя дополнительную активность:</p>
  <ul>
    <li>Можно грабить промышленные постройки других игроков после успешной атаки (если товар ими уже произведен, но еще не собран). Промышленные постройки нельзя мотивировать, поэтому они наиболее уязвимы для грабежа.</li> 
    <li>Товары часто дают в качестве вознаграждения за выполнение квестов.</li>
    <li>Товары можно получить в строении "Колодец желаний", которое один раз в сутки выдает случайную награду.</li>
  </ul>
  <h2>Торговля товарами и Реальная стоимость товаров в Forge of&nbsp;Empires</h2>
  <p>Система торговли в Forge of Empires очень далека от идеала, и это еще мягко сказано. Она просто ущербна! Но тем не менее торговля - это порой единственная надежная возможность получить необходимые товары, и значит нужно получше разобраться в ней, чтобы с одной стороны не торговать себе в убыток, а с другой - не злить окружающих неадекватными предложениями товаров.</p>
  <h3>Регламенты и ограничения, накладываемые на торговлю самой игрой</h3>
  <ol>
    <li>Объем товаров, которые вы выставляете на обмен, и объем товаров, которые вы просите взамен, не могут отличаться больше, чем в 2 раза. При этом совершенно неважно, что это за товары.</li>
    <li>Торговать можно только с согильдицами, друзьями и соседями. При этом принимая предложение игрока, не являющегося вашим согильдийцем, вы обязаны заплатить пошлину в размере одного стратегического очка (1 СО).</li>
    <li>Допустимо ограничить круг игроков, которые будут видеть ваше предложение, только согильдийцами. Но при просмотре доступных предложений на рынке никак нельзя увидеть, выставлены они только для гильдии или доступны всем возможным покупателям.</li>
  </ol>
  <p>Всё. Никаких других регламентов и ограничений со стороны системы на торговлю нет.</p>
  <h3>Реальная стоимость товаров в Forge of&nbsp;Empires</h3>
  <p>На конечную стоимость товаров оказывает влияние целый комплекс факторов. Вот их список:</p>
  <ul>
    <li>Затраты монет и ресурсов при непосредственном производстве товаров (себестоимость производства).</li>
    <li>Наличие источника сырья (отсутствие источника сырья увеличивает себестоимость производства в 5 раз).</li>
    <li>Затраты монет и ресурсов для возведения промышленной постройки, производящей товары (инвестиции).</li>
    <li>Эффективность использования территории при производстве (постройки занимают неодинаковую площадь).</li>
    <li>Количество населения, трудозанятого при производстве (это население необходимо обеспечить жильем и счастьем, а для постройки домов, дорог, декора и общественных зданий нужны и монеты, и ресурсы, и территория).</li>
    <li>Спрос (Необходимые затраты товаров на открытие технологий, возведение Великих строений, выкуп провинций).</li>
    <li>Дефицитность (Субъективный фактор, возникающий при недостаточном предложении товара на открытом рынке).</li>
  </ul>
  <p>Отдельно хочу подчеркнуть значимость фактора наличия источника сырья. В каждую эпоху у каждого игрока есть возможность взять под свой контроль только два из пяти источника сырья текущей эпохи. Запомните это, и никогда не стройте промышленные постройки, если сырья для их работы нет и не предвидится. Даже когда постройка всех пяти промышленных построек одной эпохи является квестовым заданием, лучше отказаться от такого задания, так как издержки от его выполнения существенно превышают получаемые бонусы. Недостающие три типа сырья нужно выменивать на рынке, и желательно по выгодному для вас курсу.</p>
  <h3>Адекватный курс обмена товаров в Forge of&nbsp;Empires</h3>
  <p>В реальности влияние на стоимость товаров всех других факторов, кроме непосредственной себестоимости производства, игнорируется, чтобы было меньше путаницы. Поэтому <strong>курс обмена воспринимается игроками как адекватный, если основан на себестоимости производства</strong>.</p>
  <table class='uk-table uk-table-striped'>
    <caption>Себестоимость производства единицы товара при наличии источника сырья</caption>
    {%if epoch_list%}
      <tr>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'></th>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'></th>
        <th style='border-bottom: 1px solid #ddd; border-top: 1px solid #ddd'>Монет / Ресурсов</th>
      </tr>
      {%for i in epoch_list%}
        {% if i.id != 1 %}
          <tr>
            <td>
              {{ i.name }}
            </td>
            <td>
              {{ i.goods }}
            </td>
            <td>
              {%for j in i.var%}{% if forloop.first %}{%for k in j.cost%}{{ k.money_cost }} / {{ k.resource_cost }}{%endfor%}{%endif%}{%endfor%}
            </td>
          </tr>
        {%endif%}
      {%endfor%}
    {%endif%}
  </table>
  <h3>Калькулятор расчёта обменного курса товаров</h3>
  <p>Чтобы было проще оценивать адекватность предлагаемого другими игроками курса для обмена ваших товаров, я создал <strong><a href="/goods/calc/" title="Калькулятор расчёта обменного курса товаров в Forge of Empires">калькулятор расчёта обменного курса товаров</a></strong>, который позволяет рассчитать адекватный курс обмена для произвольного количества товара. То есть, если вам нехватает для открытия технологии 93 единицы каменноугольного кокса, а запасы бензина велики, вы можете быстро и просто узнать, сколько именно единиц бензина соответствуют по себестоимости 93 единицам каменноугольного кокса. Так же калькулятор выводит предупреждающее сообщение, если обменять один товар на другой по адекватному курсу курсу не позволяет сама игра в силу действия правила, что объем товаров, которые игрок выставляете на обмен, и объем товаров, которые игрок просит взамен, не могут отличаться больше, чем в 2 раза.</p>
  <h2>Некоторые рекомендации насчет производства и обмена товаров</h2>
  <ol>
    <li><strong>Производите только те товары, источниками ресурсов которых обладаете.</strong><br>Но это вовсе не означает, что нужно содержать все доступные промышленные постройки, обладающие источниками сырья. Наоборот, как только вы поймете, что ваши запасы какого-то товара достаточны для удовлетворения потребностей (напомню, что товары необходимы для постройки Великих Строений, открытия технологий и покупки провинций), - строение его производящее лучше снести, чтобы не занимало место и не отвлекало ресурсы впустую.</li>
    <li><strong>Всегда держите на рынке открытые позиции по обмену товаров, которые в данный момент производите, на товары той же эпохи, которые не производите.</strong><br>Товары, которые вы производите, могут быть очень нужны вашим друзьям, согильдийцам или соседям, и они, возможно, готовы будут обменять товары с премией для вас, если предложений кроме вашего на рынке не будет (не вижу ничего плохого в том, что вы запрашиваете за 100 мрамора 120 камня, если конечно это не противоречит правилам, принятым в вашей гильдии, — пусть лучше на рынке будет мрамор по слегка завышенной цене, чем его там вообще не будет, или будет по цене «Торговца мрамором»). И даже если ваш товар будет уходить на рынке "как горячие пирожки", не стоит переживать из-за отсутствия его запасов - вы же производите его сами!</li>
    <li><strong>Запас карман не тянет.</strong><br>Если увидели на рынке товар, который вы сами не производите и предложение для вас выгодное, то принимайте его, даже если непосредственной необходимости в приобретаемом товаре сейчас нет.</li>
    <li><strong>Если сомневаетесь в адекватности предложения на рынке, пользуйтесь <a href="/goods/calc/" title="Калькулятор расчёта обменного курса товаров в Forge of Empires">калькулятором</a>.</strong><br>Не надо покупать товар по сверхзавышенной цене только потому, что он вам нужен и это было единственное предложение - не поощрайте жлобство.</li>
    <li><strong>Планируйте свои расходы и создавайте запасы товаров заранее.</strong></li>
</ol>
{%endblock%}
