{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}Великие Строения в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Великие Строения в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>Великие Строения предоставляют игрокам уникальные бонусы. А еще они красивые, и их нельзя построить по нескольку штук на город. И вообще - без Великих Строений город в Forge of&nbsp;Empires выглядит каким-то неполноценным.</p>
  <hr>
  <h2>Какие Великие Строения нужно строить в первую очередь</h2>
  <p><a href='/wiki/legend/'>Полный список Великих Строений</a> насчитывает {{legend_list|length}} единиц. Каждое из них требует для полной постройки много сил и привлечения значительного количества таких ценных ресурсов, как территория и стратегические очки. При этом бонусы, получаемые от постройки Великих Строений, отнюдь не равнозначны. Поэтому, чтобы понять, какое из Великих Строений вам нужно построить немедленно, какое может подождать, а какое вообще лучше не строить, чтобы место не занимало, нужно проанализировать бонусы Великих Строений с точки зрения их вклада в развитие вашего города.</p>
  <p>По мере того, как вы будете вникать в игру, по мере того, как будете ознакамливаться с материалами созданной мной базы знаний, у вас наверняка будут формироваться свои "любимчики" среди Великих Строений и сови аутсайдеры. Но я бы хотел напомнить вам марксистский тезис про "базис" и "надстройку": экономика и благосостояние народа - это базис, а культура и политика - это надстройка. Увлекаясь войной, не забывайте об экономике. Увекаясь украшательством города, не забывайте об экономике. Это особенно важно на ранних этапах развития города, когда потребление монет и ресурсов особенно велико и ощущается их нехватка. Поэтому первые Великие Строения, на которые надо обратить внимание, должны давать вашему городу не медали, не счастье, и даже не прибавку в атаке или защите, а <strong>приток ресурсов</strong> и <strong>приток монет</strong>.</p>
  <h2>Типизация бонусов Великих Строений</h2>
  <p>Все бонусы делятся на <strong>пассивные бонусы</strong> и <strong>бонусы производства</strong>, и эта дихотомия озвучена в игре официально. Но кроме этого, для большего удобства оценки качества бонусов я ввел еще две дихотомии, разделив все бонусы на <strong>уникальные</strong> и <strong>неуникальные</strong> и на <strong>конвертируемые</strong> и <strong>неконвертируемые</strong>. В общем случае на мой взгляд пассивные бонусы приоритетнее производственных, уникальные приоритетнее неуникальных, а конвертируемые приоритетнее неконвертируемых. То есть Великое Строение, дающее уникальный конвертируемый пассивный бонус (например, "бастион") строить полезнее для города, чем Великое Строение, дажющее неконвертируемый неуникальный производственный бонус (например, "производство ресурсов").</p>
  <h3>Пассивные vs Производственные</h3>
  <p>Пассивные бонусы (кроме бонусов "приток ресурсов" и "приток монет", действие которых нужно обновлять) не требуют участия игрока - они просто есть, и даже если вы неделю не будете заходить в игру, Великие Строения с бонусом Бастион все равно будут помогать вашим войскам обороняться. Бонусы производства требуют ежесуточного внимания игрока.</p>
  <p>За исключением Статуи Зевса, все Великие Строения обладают одним пассивным бонусом и одним бонусом производства (у Статуи Зевса только пассивный бонус). Это лишает смысла противопоставление пассивных и производственных бонусов, но все-таки пассивные бонусы я считаю более ценными, так как они бережнее относятся к личному времени игрока.</p>
  {% if bonus_prod or bonus_pass %}
  <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box">
        <p class="uk-panel-title">Производственные бонусы (бонусы производства):</p>
        {% if bonus_prod %}
        <ul>
          {% for i in bonus_prod %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-badge uk-badge uk-badge-success">Хорошо!</div>
        <p class="uk-panel-title">Пассивные бонусы:</p>
        {% if bonus_pass %}
        <ul>
          {% for i in bonus_pass %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <h3>Уникальные vs Неуникальные</h3>
  <p>Уникальные бонусы - это бонусы, отсутствие которых нельзя возместить за счет обычных построек и действий игрока. Неуникальные бонусы - это бонусы, отсутствие которых можно возместить за счет обычных построек и действий игрока.</p>
  <p>В данном случае очевидно, что Великие Строения, обладающие именно уникальными бонусами, должны иметь приоритет в развитии, потому что если вы не будете их развивать, компенсировать недостаток бонусов вам будет просто нечем.</p>
  {% if bonus_uniq or bonus_ununiq %}
  <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-badge uk-badge uk-badge-success">Хорошо!</div>
        <p class="uk-panel-title">Уникальные бонусы:</p>
        {% if bonus_uniq %}
        <ul>
          {% for i in bonus_uniq %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box">
        <p class="uk-panel-title">Неуникальные бонусы:</p>
        {% if bonus_ununiq %}
        <ul>
          {% for i in bonus_ununiq %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <h3>Конвертируемые vs Неконвертируемые </h3>
  <p>К сожалению, не все Великие Строения сохраняют свою актуальность при смене эпох. Яркий пример такого строения - Нотр-Дам. Его пассивный бонус - уровень счастья, а бонус производства - производство ресурсов. Оба эти бонуса номинируются в абсолютных величинах, и при смене эпох никак не изменяются. Соответственно со временем вклад Нотр-Дама в развитие города все больше снижается. Проблема Нотр-Дама натолкнула меня на мысль разделить все бонусы на конвертируемые и неконвертируемые.</p>
  <p>Конвертируемые бонусы - это бонусы, как говорится, на все времена. Вне зависимости от того, какая эпоха на дворе, их относительное воздействие на город не ослабевает. Неконвертируемые бонусы - это бонусы, чье относительное воздействие на город со сменой эпох снижается.</p>
  {% if bonus_convert or bonus_unconvert %}
  <div class="uk-grid" data-uk-grid-match="{target:'.uk-panel'}">
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="uk-panel-badge uk-badge uk-badge-success">Хорошо!</div>
        <p class="uk-panel-title">Конвертируемые бонусы:</p>
        {% if bonus_convert %}
        <ul>
          {% for i in bonus_convert %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="uk-width-medium-1-2">
      <div class="uk-panel uk-panel-box">
        <p class="uk-panel-title">Неконвертируемые бонусы:</p>
        {% if bonus_unconvert %}
        <ul>
          {% for i in bonus_unconvert %}
            <li>{{i.name}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  {% if bonus_list %}
  <h2>Перечень бонусов и их описание</h2>
  <ul class="uk-list uk-list-striped">
    {% for i in bonus_list %}
    <li>
      <h3>{{i.name}}</h3>
      {{i.desc|safe}}
      <dl class="uk-description-list uk-description-list-horizontal">
        <dt>Типизация:</dt>
        <dd>{% if i.bonus_type_active == 1 %}Пассивный <span class='uk-badge uk-badge-success'>+</span>{% else %}Производственный{% endif %}</dd>
        <dd>{% if i.bonus_type_uniq == 3 %}Уникальный <span class='uk-badge uk-badge-success'>+</span>{% else %}Неуникальный{% endif %}</dd>
        <dd>{% if i.bonus_type_convert == 5 %}Конвертируемый <span class='uk-badge uk-badge-success'>+</span>{% else %}Неконвертируемый{% endif %}</dd>
      </dl>
      {% if i.legend_list %}
      <dl class="uk-description-list uk-description-list-horizontal">
        <dt>Великие Строения:</dt>
        {% for j in i.legend_list %}
          <dd>{{j.legend__name}} <span class="uk-text-muted"> ({{j.legend__epoch__name}})</span></dd>
        {% endfor %}
      </dl>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
{%endblock%}