{%extends "layout.html"%}
{%block title%}Счастье в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Счастье в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>От того, насколько счастливы ваши люди, зависит и производительность производственных построек, и количество монет, которое дают дома, и ваша конкурентоспособность в PvP-турнирах.</p>
  <hr>
  <p>Вопросу счастья населения вашего города в Forge of Empires создатели игры отвели очень важную роль. Когда счастья в городе достаточно, уровень производства ресурсов и монет соответствует базовым значениям. Но стоит только вашим постройкам генерировать счастья хоть на одну единицу меньше числа ваших жителей, как уровень производства хлопнется на уровень 50% — хоть не собирай! И наоборот, если ваши постройки генерируют счастья в полтора раза больше числа ваших жителей, то «излишки» счастья позволяют достигать увеличения сборов ресурсов и монет на 20%.</p>
  <p>Аналогичная ситуация и в PvP. Когда счастья хоть на одну единицу меньше числа ваших жителей, вам засчитывается только 50% от опыта, полученного вами в результате победы над противником. И наоборот, когда население «в восторге», полученные очки опыта умножаются на 120%. И так как количество боев, которые вы можете провести за неделю, конечно (а значит конечно и количество боевого опыта), премия в 20% оказывается совсем не лишней при конкуренции за призовое место в башне PvP.</p>
  <h2>Источники счастья</h2>
  <p>Уровень счастья, который постройка дает вашему городу, очень сильно зависит от полировки её вашими согильдийцами, друзьями или соседями. Полированная (улучшенная) постройка дает городу в 2 раза больше счастья, чем неполированная.</p>
  <p>Всего в игре четыре типа построек, приносящих счастье вашим жителям. Это общественные постройки, декор, почти все виды дорог и некоторые Великие Строения.</p>
  <p>Ключевым типом построек, из приносящих счастье, является тип <a target='_blank' href="/wiki/society/"><strong>"Общественные постройки"</strong></a>. Общественные постройки дорогие, занимают много места и требуют обязательного подключения к сети, но обладают неоспоримыми преимуществами: в отличие от Великих Строений их можно полировать и строить многократно, а в отличие от декора они производят очень много счастья за счет своего размера, и выгода от их полировки для владельца многократно превышает выгоду от полировки декора.</p>
  <p><a target='_blank' href="/wiki/road/"><strong>Дороги</strong></a> - следующий по значимости тип. Хотя отдельная ячейка дороги приносит сравнительно мало, строить их все равно необходимо, и в развитом городе под дороги уходит около двух сотен ячеек! То есть одни только дороги способны обеспечить счастьем четверть населения города. При том что, повторюсь, строить их необходимо, - это весомый довод в пользу постройки самых лучших дорог.</p>
  <p>Существенную долю счастья могут принести <strong>Великие Cтроения</strong>{%if legend_list_h%} ({%for i in legend_list_h%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.legendbonusvalue__legend_level__legend__id }}'>{{ i.legendbonusvalue__legend_level__legend__name }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.legendbonusvalue__legend_level__legend__id }}'>{{ i.legendbonusvalue__legend_level__legend__name }}</a>, {%endif%}{%endfor%}){%endif%}. По эффективности они превосходят подавляющее большинство других построек, но, к сожалению, их нельзя полировать (что ставит их превосходство в эффективности под вопрос), да и строить можно только в единственном экземпляре.</p>
  <p>Последний тип строений, приносящих счастье, - <a target='_blank' href="/wiki/decor/"><strong>декор</strong></a>. Его отличительной особенностью является отсутствие необходимости подключения к сети - то есть декор можно строить где угодно, не утруждая себя прокладкой дорожной сети. Однако эффективность декора невысока, и строят его обычно лишь чтобы заткнуть дыры хоть чем-то полезным. Исключением из этого правила являются квестовые строения, которые кроме счастья привносят в город некоторую символическуе составляющую.</p>
  <h2>Эффективность построек, дающих счастье</h2>
  <p>В сводной таблице ниже все постройки отсортированы из рассчета количества счастья, приносимого в город с единицы площади. Для построек, требующих подключения к дорожной сети, площадь, занимаемая дорогой, также учитывается, но не учитывается счастье, приносимое этой дорогой. Цветом в таблице выделены <span class='foe-legend'>Великие Строения</span>, <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Эпоха</th>
        <th>Количество счастья с единицы площади</th>
      </tr>
      {%for i in happy_list%}
      <tr {%if i.legend__name%}class='legend'{%endif%}{%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.name }}{{ i.legend__name }}{%if i.level%}, уровень {{ i.level }}{%endif%}</td>
        <td>{{ i.type }}</td>
        <td>{{ i.epoch__name }}{{ i.legend__epoch__name }}</td>
        <td>{{ i.e|floatformat:"2" }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  <h2>Эффективность полировки (облагораживания, улучшения) построек, дающих счастье</h2>
  <p>Строки в таблице ниже отсортированы так, чтобы продемонстрировать эффективность полировки. В правой колонке приведена цифра, на которую увеличится счастье в городе при полировке этого строения. Цветом в таблице выделены <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Эпоха</th>
        <th>Тип</th>
        <th>Увеличение счастья при полировке</th>
      </tr>
      {%for i in baff_list%}
      <tr {%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.name }}</td>
        <td>{{ i.type }}</td>
        <td>{{ i.epoch__name }}</td>
        <td>{{ i.happiness_add }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  
{%endblock%}
