{%extends "layout.html"%}
{%block title%}База Знаний Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Forge of&nbsp;Empires: база знаний</h1>
  <p style="font-size: 1.6em; line-height: 133%;">Самый подробный гайд по игре Forge of&nbsp;Empires, раскрывающий суть игры и ее механику.<br><small style="color: #999">Характеристики построек всех доступных эпох. — Данные для сравнительного анализа построек. — Возможность подбора наилучших построек с учетом индивидуального режима игры. — Калькулятор справедливого обменного курса товаров. — Анализ Великих строений.</small></p>
  <hr>
  <h2 id="aim of game">Цель игры</h2>
  <p>Целью игры является развитие подконтрольного города. Таким образом смысл игры - в процессе этого развития. Геймплей организуется так, чтобы сделать процесс развития максимально долгим, ведь как только процесс развития останавливается, игра теряет смысл.</p>
  <p>Развитие города происходит в рамках ограниченной территории, и чем эффективнее эта территория используется, тем успешнее протекает процесс развития. Интенсификация использования территории - суть игры.</p>
  <p><strong>Резюмируем:</strong></p>
  <ul>
    <li>Цель игры - развитие города</li>
    <li>Смысл игры - процесс развития города</li>
    <li>Суть игры - интенсификация использования территории</li>
  </ul>
  <h2 id="backbone">Понимание сути - от общего к&nbsp;частному</h2>
  <p>Территория - самый дефицитный ресурс. Игровое поле (территория для строительства города) составляет 10х10 квадратных полей-расширений, каждое из которых состоит из 16 ячеек. При этом в начале игры доступно ограниченное число полей-расширений, а именно 16. 100 полей - предел территории, который на момент написания статьи принципиально недостижим.</p>
  <p>Примем недостаток территории как естественное зло и будем бороться с ним. Анализ путей этой борьбы и должен по моему замыслу открыть все внутренние связи в игре и помочь в понимании и осознании собственного пути в этой игре.</p>
  <p>Так как на старте игры у нас доступны не все поля, с этого и начнем. Это будет то "общее" с которого поэтапно мы должны добраться до деталей частного. Итак, начнем с ответа на главный вопрос: <strong>"Как расширить территорию в Forge of&nbsp;Empires?"</strong></p>
  <p><strong>Читайте также:</strong></p>
  <ul><li><a href="#%D0%9A%D0%B0%D0%BA%20%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B8%D1%82%D1%8C%20%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8E%20%D0%B2%20Forge%20of%20Empires">Как расширить территорию в Forge of&nbsp;Empires?</a></li></ul>
  <h2 id="Как расширить территорию в Forge of Empires">Как расширить территорию в Forge of&nbsp;Empires</h2>
  <ol>
    <li><strong>Купить поля-расширения за бриллианты.</strong> По моему убеждению - это единственный разумный способ вложения бриллиантов, так как существует некоторое количество полей-расширений (на декабрь 2013 года - 18 расширений), приобрести которые иным способом невозможно.</li>
    <li><strong>Купить поля-расширения за медали.</strong> То же, что и с бриллиантами - существует некоторое количество расширений (на декабрь 2013 года - 15 расширений), приобрести которые иным способом невозможно. </li>
    <li><strong>Открыть возможность расширения, изучив соответствующую технологию</strong> (например, гигиену), и купить расширение за монеты. Вместо монет в данном случае можно использовать бриллианты.</li>
    <li><strong>Покорить провинцию, в качестве премии за покорение которой открывается возможность расширения,</strong> и купить расширение за монеты. Вместо монет в данном случае можно использовать бриллианты.</li>
  </ol>
  <p><strong>Читайте также:</strong></p>
  <ul>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%B1%D1%80%D0%B8%D0%BB%D0%BB%D0%B8%D0%B0%D0%BD%D1%82%D1%8B%20%D0%B2%20Forge%20of%20Empires">Как получить бриллианты в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%BC%D0%B5%D0%B4%D0%B0%D0%BB%D0%B8%20%D0%B2%20Forge%20of%20Empires">Как получить медали в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BE%D0%BD%D0%B5%D1%82%D1%8B%20%D0%B2%20Forge%20of%20Empires">Как получить монеты в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%B8%D0%B7%D1%83%D1%87%D0%B0%D1%82%D1%8C%20%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8%20%D0%B2%20Forge%20of%20Empires">Как изучать технологии в Forge of&nbsp;Empires</a></li>
  </ul>
  <h2 id="Как получить бриллианты в Forge of Empires">Как получить бриллианты в Forge of&nbsp;Empires</h2>
	<ol>
    <li><strong>Бриллианты можно купить за реальные деньги</strong> (большой белый плюсик на золотом фоне в информационном меню игры рядом с количеством бриллиантов, имеющихся в наличии). Покупать или не покупать - личный выбор каждого. В некоторых играх (таких как <a href='http://ikorus.ru/pobedit-v-grepolis/' target='_blank'>Grepolis</a>) от использования платных опций зависит само ваше выживание в игровом мире - можно конечно и не платить деньги, но тогда придется отказаться от амбиций играть значимую роль в игровом мире (если вообще не придется смириться с ролью "кормушки"). Однако в Forge of Empires покупка бриллиантов не дает ощутимых преференций, за исключением более быстрого приобретения полей-расширений. Не тратя реальные деньги вполне можно играть и "быть важной шишкой на своей ёлке".</li>
    <li><strong>Бриллианты можно получить в качестве вознаграждения в квестах,</strong> прямо заявляющих о награде бриллиантами, либо в квестах, где награда выпадает случайным образом. К сожалению, на русскоязычных серверах вероятность выпадения бриллиантов в качестве случайной награды снижена до минимума.</li>
    <li><strong>Бриллианты можно получить в строении "Колодец желаний",</strong> которое один раз в сутки выдает случайную награду. Месяца через 3 исполнится год с тех пор, как у меня появлися первый Колодец желаний. Сейчас у меня их два, и за все время их функционирования бриллианты мне выпадали лишь 2 раза - суммарно 100 штук.</li>
    <li><strong>Бриллианты можно получить в награду за покорение некоторых провинций.</strong></li>
    <li><strong>Бриллианты можно получить в подарок от администрации.</strong> На русскоязычных серверах подарки бриллиантами "просто так" администрация делает крайне неохотно - что-то даже и не припомню с ходу такого факта. Однако за приглашение в игру новых игроков и за подтверждение адреса электронной почты бриллианты раздают.</li>
    <li><strong>Бриллианты можно получить в виде вознаграждения от спонсора игры.</strong> За участие в различных маркетинговых мероприятиях спонсоров можно получать небольшое количество бриллиантов. Узнать о возможностях заработка можно перейдя по ссылке "Заработать бриллианты" в интерфейсе окна, посвященного их покупке.</li>
  </ol>
  <p><strong>Читайте также:</strong></p>
  <ul><li><a href="#%D0%9A%D0%B0%D0%BA%20%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B8%D1%82%D1%8C%20%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8E%20%D0%B2%20Forge%20of%20Empires">Как расширить территорию в Forge of&nbsp;Empires?</a></li>
  <li><a href="#%D0%9A%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D0%B5%20%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Forge%20of%20Empires">Квестовые строения в Forge of&nbsp;Empires</a></li></ul>
  <h2 id="Как получить медали в Forge of Empires">Как получить медали в Forge of&nbsp;Empires</h2>
  <ol>
    <li><strong>Медали выдают в качестве награды в PvP-башнях.</strong> Чтобы получить медали, необходимо набрать большее число очков за выигранные бои, чем соседи. Чем позднее эпоха, тем больше медалей можно получить в награду и тем большее число игроков награждается. Чтобы получить доступ к PvP-башне, необходимо покорить провинцую, на территории которой эта башня находится на мировой карте. Можно получать медали одновременно в нескольких башнях: к какой именно башне будут приписаны начисленные за победу в бою очки зависит от того, какой эпохи войска участвовали в бою с вашей стороны. Если с вашей стороны на поле боя было 7 юнитов железного века, и 1 юнит Позднего средневековья, то очки будут начислены в башню Позднего средневековья - будьте внимательны, когда составляете атакующую армию. Если вы используете в бою войска эпохи, башню которой еще не "захватили", вы не сможете претендовать на медали.</li>
    <li><strong>Медали можно получить в качестве премии за помощь в постройке великих строений другим игрокам.</strong> Медалями награждаются первые 5 лучших помощников (за исключением постройки первых двух уровней Великого строения - там вознаграждаются первые 3 и первые 4 помощника, соответственно).</li>
    <li><strong>Медали производят некоторые Великие Строения.</strong> Медали можно получать регулярно, если построить Великое Строение, их производящее{%if legend_list_medal%} (например: {%for i in legend_list_medal%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}){%endif%}. Чем выше уровень Великого Строения, тем больше медалей оно производит. Медали производятся 1 раз в сутки.</li>
    <li><strong>Медали можно получить из колодца желаний.</strong> Квестовое строение "Колодец желаний" 1 раз в сутки дает случайную награду, в том числе - медали. Количество медалей зависит от вашей текущей эпохи.</li>
    <li><strong>Медали можно получить в качестве награды за квесты.</strong> В квестах со случайной наградой возможно выпадение в качестве награды медалей.</li>
    <li><strong>Медали можно получить в награду за покорение некоторых провинций.</strong></li>
  </ol>
  <p><strong>Читайте также:</strong></p>
  <ul>
    <li><a href="#%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%B8%D0%B5%20%D0%A1%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Forge%20of%20Empires">Великие Строения в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D0%B5%20%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Forge%20of%20Empires">Квестовые строения в Forge of&nbsp;Empires</a></li>
  </ul>
  <h2 id="Как получить монеты в Forge of Empires">Как получить монеты в Forge of&nbsp;Empires</h2>
  <ol>
    <li><strong>Монеты производят жилые постройки - дома.</strong> Это основной источник монет.</li> 
    <li><strong>Монеты производят некоторые Великие Строения.</strong> Монеты можно получать регулярно, если построить Великое Строение, их производящее{%if legend_list_money%} (например: {%for i in legend_list_money%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}){%endif%}. Чем выше уровень Великого Строения, тем больше монет оно производит. Монеты производятся 1 раз в сутки.</li>
    <li><strong>Монеты можно получать в награду за мотивирование населения других игроков.</strong> Каждый раз, когда вы поднимаете настроение в доме или производственной постройке другого игрока и каждый раз, когда вы полируете общественную постройку или декор другого игрока, вы получаете 20 монет в качестве вознаграждения.</li>
    <li><strong>Монеты можно получать, если грабить дома и некоторые типы квестовых построек в городах игроков-соседей.</strong> Напав на город соседа и победив его армию, вы получаете возможность ограбить любое строение (кроме Ратуши, Великих Строений и казарм), на момент вашего посещения завершившее свой цикл производства. Если на момент нападения грабить нечего, в ближайшие сутки вы в любое время имеете возможность заходить в побежденный город с целью грабежа, пока не ограбите. После нападения вы не сможете "полировать" (мотивировать население) соседа ближайшие сутки.</li>
    <li><strong>Монеты выдаются в качестве вознаграждения за выполнение некоторых квестов.</strong> В частности, в квестах со случайной наградой возможно выпадение в качестве награды монет.</li>
    <li><strong>Монеты выдаются в качестве премии при захвате провинций.</strong> Монеты могут служить наградой как за захват всей провниции, так и за захват отдельных ее частей.</li>
  </ol>
  <p>Производство монет домами и квестовыми постройками очень сильно зависит от уровня счастья населения. Если народ несчастен (количество очков счастья меньше числа жителей), производится 50% монет от заявленного в описании постройки. Если счастлив (количество очков счастья больше либо равно числу жителей) - 100%. Если в восторге (количество очков счастья в два раза и более превышает число жителей) - 120%.</p>
  <p>Также на производство монет домами и квестовыми постройками оказывает большое влияние наличие в городе Великого Строения с бонусом "приток монет"{%if legend_list_money_inflow%} (например: {%for i in legend_list_money_inflow%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}){%endif%}. И наконец, мотивированные дома и квестовые постройки ещё удваивают производство, если их мотивировали ваши согильдийцы, друзья или соседи.</p>
  <p>Все бонусы сладываются, и одно и то же строение при разных условиях может производить количество монет, отличающееся на порядок. Например, Высотное здание при базовом производстве в 5750 монет в сутки может производить от 2875 монет до 48300 монет в сутки.</p>
  <p>Все, что необходимо знать о производстве монет, читайте в разделе <a href="/money/" target="_blank"><strong>"Монеты в Forge of&nbsp;Empires".</strong></a></p>
  <p><strong>Читайте также:</strong></p>
  <ul>
    <li><a href="#%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%B8%D0%B5%20%D0%A1%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Forge%20of%20Empires">Великие Строения в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D0%B5%20%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B2%20Forge%20of%20Empires">Квестовые строения в Forge of&nbsp;Empires</a></li>
    <li><a target='_blank' href="/wiki/houses/">Дома в Forge of&nbsp;Empires</a></li>
  </ul>
  <h2 id="Как изучать технологии в Forge of Empires">Как изучать технологии в Forge of&nbsp;Empires</h2>
  <p>Создатели наделили Forge of&nbsp;Empires технологическим деревом, на изучение которого уже сейчас можно потратить много месяцев реального времени. В дальнейшем с введением каждой новой эпохи этого времени нужно будет все больше.</p>
  <p>Открывая технологии вы можете получить доступ либо к расширению территории (за это расширение еще придется заплатить - смотрите <a href="#%D0%9A%D0%B0%D0%BA%20%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B8%D1%82%D1%8C%20%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8E%20%D0%B2%20Forge%20of%20Empires">Как расширить территорию в Forge of&nbsp;Empires?</a>), либо к новым постройкам или дорогам.</p>
  <ol>
    <li><strong>Для изучения технологий необходимы стратегические очки (СО).</strong> Поначалу их нужно совсем немного, но с каждой эпохой технологии начинают обходится все дороже. Тем не менее, СО даются игроку бесплатно каждый час, и изучение технологии - лишь вопрос времени.</li> 
    <li><strong>Чтобы открыть изученную технологию как правило нужны монеты, ресурсы и товары в разных сочетаниях.</strong> В единственном уникальном случае (эпоха "Раннее средневековье") для открытия технологии нужны бриллианты. В самом начале игры для открытия первых изученных технологий не нужно вообще ничего.</li>
    <li>Недостаток стратегических очков, монет, ресурсов и товаров можно компенсировать бриллиантами.</li>
  </ol>
  <p><strong>Читайте также:</strong></p>
  <ul>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D1%80%D0%B0%D1%81%D1%88%D0%B8%D1%80%D0%B8%D1%82%D1%8C%20%D1%82%D0%B5%D1%80%D1%80%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8E%20%D0%B2%20Forge%20of%20Empires">Как расширить территорию в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5%20%D0%BE%D1%87%D0%BA%D0%B8%20%D0%B2%20Forge%20of%20Empires">Как получить стратегические очки в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BE%D0%BD%D0%B5%D1%82%D1%8B%20%D0%B2%20Forge%20of%20Empires">Как получить монеты в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B%20%D0%B2%20Forge%20of%20Empires">Как получить ресурсы в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9F%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2%20%D0%B2%20Forge%20of%20Empires">Производство товаров в Forge of&nbsp;Empires</a></li>
    <li><a href="#%D0%9A%D0%B0%D0%BA%20%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B8%D1%82%D1%8C%20%D0%B1%D1%80%D0%B8%D0%BB%D0%BB%D0%B8%D0%B0%D0%BD%D1%82%D1%8B%20%D0%B2%20Forge%20of%20Empires">Как получить бриллианты в Forge of&nbsp;Empires</a></li>
    <li><a target='_blank' href="/wiki/technology/">Технологии в Forge of&nbsp;Empires</a></li>
  </ul>
  <h2 id="Квестовые строения в Forge of Empires">Квестовые строения в Forge of&nbsp;Empires</h2>
  <p>Текст пока не написан</p>
  <h2 id="Великие Строения в Forge of Empires">Великие Строения в Forge of&nbsp;Empires</h2>
  <p>Все, что необходимо знать о Великих Строениях , читайте в разделе <a href="/greatb/" target="_blank"><strong>"Великие Строения в Forge of&nbsp;Empires".</strong></a></p>
  <h2 id="Как получить стратегические очки в Forge of Empires">Как получить стратегические очки в Forge of&nbsp;Empires</h2>
  <p>Стратегические очки (СО) - третий по ценности ресурс после территории и бриллиантов. У каждого игрока вверху экрана (под названием текущей эпохи - если вы находитесь в своем городе - или под названием города, куда вы зашли в гости, отображается своеобразная "батарейка" с максимальным зарядом в 10 стратегических очков. Когда игрок тратит стратегические очки, "батарейка" разряжается.</p>
  <ol>
    <li><strong>Стратегические очки производятся сами по себе.</strong> Каждый астрономический час, когда заряд "батарейки" со стратегическими очками меньше 10, заряд пополняется на 1 СО.</li>
    <li><strong>Стратегические очки можно купить за монеты или бриллианты.</strong> Справа от индикатора заряда "батарейки" расположена кнопка с маленьким плюсиком. Нажатие на кнопку вызывает диалоговое окно покупки стратегических очков, состоящее из трех кнопок. Нажимая на крайюю левую кнопку вы приобретаете 1 СО за монеты при каждом нажатии. Нажимая на среднюю кнопку вы приобретаете 1 СО за бриллианты. Нажатие на крайюю правую кнопку позволяет приобрести столько СО, сколько не хватает до полного заряда "батарейки", но только за бриллианты. В покупке стратегических очков есть пара нюансов: во-первых, стоимость каждого последующего покупаемого СО будет выше на 50 монет; во-вторых, если вызвать окно покупки СО из диалоговых окон, а не по кнопке рядом с "батарейкой" (например из окна строительства Великого Строения), покупка СО за монеты будет невозможна - только за бриллианты.</li>
    <li><strong>Стратегические очки можно получить в качестве премии за помощь в постройке Великих Строений другим игрокам.</strong> Стратегическими очками награждаются от двух до пяти первых лучших помощников. </li>
    <li><strong>Стратегические очки производят некоторые Великие Строения.</strong> Стратегические очки можно получать регулярно, если построить Великое Строение, их производящее{%if legend_list_point%} (например: {%for i in legend_list_point%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}){%endif%}. Чем выше уровень Великого Строения, тем больше стратегических очков оно производит. Стратегические очки производятся 1 раз в сутки.</li>
    <li><strong>Стратегические очки можно получить из колодца желаний.</strong> Квестовое строение "Колодец желаний" 1 раз в сутки дает случайную награду, в том числе - стратегические очки. Количество медалей зависит от вашей текущей эпохи.</li>
    <li><strong>Стратегические очки можно получить в качестве награды за квесты.</strong> В квестах со случайной наградой возможно выпадение в качестве награды стратегических очков.</li>
  </ol>
  <p>Когда вы получаете стратегические очки в квестах или в качестве награды за помощь в постройке чужих Великих Строений, они не заряжают вашу "батарейку" сразу. Вы получаете их в виде пакетов по 2, 5 и 10 СО. Эти пакеты попадают в ваш инвентарь, и их можно накапливать, чтобы в нужный момент иметь возможность без затрат монет или бриллиантов в сжатые сроки вложить в изучение технологии или строительство Великого Строения большое количество стратегических очков. Использование пакетов заряжает вашу "батарейку", но будьте внимательны: если сумма имеющихся в "батарейке" зарядов и зарядов используемого пакета будет больше 10, лишние заряды пропадут - больше 10 зарядов в "батарейке" быть не может.</p>
  <h2 id="Как получить ресурсы в Forge of Empires">Как получить ресурсы в Forge of&nbsp;Empires</h2>
  <p>Все, что необходимо знать о производстве монет, читайте в разделе <a href="/production/" target="_blank"><strong>"Производство ресурсов в Forge of&nbsp;Empires".</strong></a></p>
  <h2 id="Производство товаров в Forge of Empires">Производство товаров в Forge of&nbsp;Empires</h2>
  <p>Все, что необходимо знать о производстве монет, читайте в разделе <a href="/goods/" target="_blank"><strong>"Товары в Forge of&nbsp;Empires".</strong></a></p>
{%endblock%}
