{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}Великие Строения в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Великие Строения в Forge of&nbsp;Empires</h1>
  {% if legend_list %}
    {% if epoch_list %}
      {% for i in epoch_list %}
        {% if i.id != 1 %}
          <div class='uk-panel uk-panel-box foe-default-skin {% if i.id == 2 %}foe-bronze-skin{% endif %}{% if i.id == 3 %}foe-iron-skin{% endif %}{% if i.id == 4 %}foe-early-skin{% endif %}{% if i.id == 5 %}foe-high-skin{% endif %}{% if i.id == 6 %}foe-late-skin{% endif %}{% if i.id == 7 %}foe-colony-skin{% endif %}{% if i.id == 8 %}foe-industry-skin{% endif %}{% if i.id == 9 %}foe-progress-skin{% endif %}{% if i.id == 10 %}foe-modern-skin{% endif %}{% if i.id == 11 %}foe-post-skin{% endif %}'>
            <h2 class='uk-panel-title'>{{ i.name }}</h2>
            {% for n in i.legend %}
              <h3 class='foe-tech-title'><a href='/wiki/legend/{{ n.id }}/'>{{ n.name }}</a></h3>
              <div class='uk-grid'>
                <div class='uk-width-large-2-10'>
                  <a href='/wiki/legend/{{ n.id }}/'><img class='uk-thumbnail' src="{{ n.pict }}-/resize/149x/"/></a>
                </div>
                <div class='uk-width-large-4-10'>
                  {{ n.desc|safe }}
                  <p>
                    <strong>Требуется дорога:</strong>
                    <br/>{% if n.road_width == 1 %}Одинарная (одноклеточная){% else %}Двойная (двуклеточная){% endif %}
                  </p>
                  <p>
                    <strong>Занимает площадь:</strong>
                    <br/>{{ n.width }}х{{ n.height }} клетки
                  </p>
                  <p>
                    <strong>Даёт бонусы:</strong>
                    {% for k in n.legend_level %}{% for i in k.legend_bonus %}
                      <br/>{{ i.legend_bonus }}
                    {% endfor %}{% endfor %}
                  </p>
                </div>
                <div class='uk-width-large-4-10'>
                  <p><strong>Необходимо для постройки:</strong></p>
                  <div class='uk-panel-box foe-need-box'>
                    {% if n.goodcost %}
                    <div class='uk-clearfix foe-need-item'>
                      <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                      <div class='foe-need-detail'>
                        <span>Товаров</span>
                        {% for k in n.goodcost %}
                          <span class='foe-quantity'>{{ k.quantity }} {{ k.good_type }}</span>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    <div class='uk-clearfix foe-need-item'>
                      <img class='uk-float-left' src="{%static 'img/so.png'%}"/>
                      <div class='foe-need-detail'>
                        <span>Cтратегических очков</span>
                        {% for k in n.legend_level %}
                          <span class='foe-quantity'>{{ k.point_cost }} СО</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <p class='uk-text-right'><a href='/wiki/legend/{{ n.id }}/'><em>Подробнее о Великом Строении <br/>{{ n.name }}</em></a></p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Я пока ничего не написал о Великих Строениях в Forge of&nbsp;Empires.</p>
  {% endif %}
{%endblock%}