{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}{{ legend.name }} - Великие Строения в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <div class='uk-panel uk-panel-box foe-default-skin {% if legend.epoch.id == 2 %}foe-bronze-skin{% endif %}{% if legend.epoch.id == 3 %}foe-iron-skin{% endif %}{% if legend.epoch.id == 4 %}foe-early-skin{% endif %}{% if legend.epoch.id == 5 %}foe-high-skin{% endif %}{% if legend.epoch.id == 6 %}foe-late-skin{% endif %}{% if legend.epoch.id == 7 %}foe-colony-skin{% endif %}{% if legend.epoch.id == 8 %}foe-industry-skin{% endif %}{% if legend.epoch.id == 9 %}foe-progress-skin{% endif %}{% if legend.epoch.id == 10 %}foe-modern-skin{% endif %}{% if legend.epoch.id == 11 %}foe-post-skin{% endif %}'>
    <h1>{{ legend.name }}</h1>
    <div class='uk-grid'>
      <div class='uk-width-large-4-10'>
        <img class='uk-thumbnail' src="{{ legend.pict }}-/resize/343x/"/>
      </div>
      <div class='uk-width-large-6-10' style="font-size: 1.2em; line-height: 133%;">
        {{ legend.desc|safe }}
        <hr>
        <dl class="uk-description-list uk-description-list-horizontal">
          <dt>Эпоха</dt>
          <dd>{{ legend.epoch }}</dd>
          <dt>Требуется дорога</dt>
          <dd>{% if legend.road_width == 1 %}Одинарная (одноклеточная){% else %}Двойная (двуклеточная){% endif %}</dd>
          <dt>Занимает площадь</dt>
          <dd>{{ legend.width }} х {{ legend.height }} клетки</dd>
          <dt>Дает бонусы</dt>
          <dd>{% for i in legend.legend_bonus %}{% for i in i.bonus %}{% if forloop.first %}{{ i.legend_bonus }}{%else%}<br/>{{ i.legend_bonus }}{%endif%}{% endfor %}{% endfor %}</dd>
        </dl>
        <hr>
        <h3 class='foe-tech-title'>Необходимо для постройки</h3>
        <div class='foe-need-box'>
          <div class='uk-grid'>
            <div class='uk-width-large-1-2'>
              <p><strong>Товаров для закладки фундамента</strong></p>
              <div class='foe-need-item'>
                <div class='foe-need-detail uk-margin-remove'>
                  <table class='uk-table uk-table-condensed uk-margin-bottom-remove foe-quantity'>
                  {% for k in legend.goodcost %}
                    <tr>
                      <td>{{ k.good_type }}</td><td>{{ k.quantity }}</td>
                    </tr>
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class='uk-width-large-1-2'>
              <p><strong>Стратегических очков для постройки уровней</strong></p>
              <div class='foe-need-item'>
                <div class='foe-need-detail uk-margin-remove'>
                  <table class='uk-table uk-table-condensed uk-margin-bottom-remove foe-quantity'>
                  {% for k in legend.legend_level %}
                    <tr>
                      <td>Уровень {{ k.level }}</td><td>{{ k.point_cost }} СО</td>
                    </tr>
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class='foe-tech-title'>Размеры бонусов в зависимости от&nbsp;уровня Великого&nbsp;Строения</h3>
    <table class="uk-table uk-table-condensed">
      <tbody>
        <tr>
          <th></th>
          {% for i in legend.legend_bonus %}{% for i in i.bonus %}
            <th style='text-align: center'>{{ i.legend_bonus }}</th>
          {% endfor %}{% endfor %}
        </tr>
        {% for k in legend.legend_level %}
          <tr>
            <td style='border-bottom: 1px solid'>Уровень {{ k.level }}</td>
            {% for i in k.legend_bonus %}
              <td style='border-bottom: 1px solid; text-align: center'>{{ i.quantity }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 class='foe-tech-title'>Размеры вознаграждений за помощь в&nbsp;постройке Великого&nbsp;Строения в&nbsp;зависимости от&nbsp;уровня</h3>
    <table class="uk-table uk-table-condensed">
      <tbody>
        <tr>
          <th></th>
          <th style='text-align: center'>Первое место</th>
          <th style='text-align: center'>Второе место</th>
          <th style='text-align: center'>Третье место</th>
          <th style='text-align: center'>Четвертое место</th>
          <th style='text-align: center'>Пятое место</th>
        </tr>
        {% for k in legend.legend_level %}
          <tr>
            <td style='border-bottom: 1px solid'>Уровень {{ k.level }}</td>
            <td style='border-bottom: 1px solid;'>
              {% for i in k.prize_first %}
                <div style='font-size: .8em'>
                  {% if i.prize_type == 'Point' %}Стратегические очки - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Blueprint' %}Чертежи - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Medal' %}Медали - {{ i.quantity }}{% endif %}
                </div>
              {% endfor %}
            </td>
            <td style='border-bottom: 1px solid;'>
              {% for i in k.prize_second %}
                <div style='font-size: .8em'>
                  {% if i.prize_type == 'Point' %}Стратегические очки - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Blueprint' %}Чертежи - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Medal' %}Медали - {{ i.quantity }}{% endif %}
                </div>
              {% endfor %}
            </td>
            <td style='border-bottom: 1px solid;'>
              {% for i in k.prize_third %}
                <div style='font-size: .8em'>
                  {% if i.prize_type == 'Point' %}Стратегические очки - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Blueprint' %}Чертежи - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Medal' %}Медали - {{ i.quantity }}{% endif %}
                </div>
              {% endfor %}
            </td>
            <td style='border-bottom: 1px solid;'>
              {% for i in k.prize_forth %}
                <div style='font-size: .8em'>
                  {% if i.prize_type == 'Point' %}Стратегические очки - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Blueprint' %}Чертежи - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Medal' %}Медали - {{ i.quantity }}{% endif %}
                </div>
              {% endfor %}
            </td>
            <td style='border-bottom: 1px solid;'>
              {% for i in k.prize_fifth %}
                <div style='font-size: .8em'>
                  {% if i.prize_type == 'Point' %}Стратегические очки - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Blueprint' %}Чертежи - {{ i.quantity }}{% endif %}
                  {% if i.prize_type == 'Medal' %}Медали - {{ i.quantity }}{% endif %}
                </div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>&#11013; <a href="/wiki/legend/"><em>Вернуться к списку Великих Строений</em></a></p>
  </div>
{%endblock%}