{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}Промышленные постройки в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
    .foe-margin-top-fix {
      margin-left: 118px;
    }
    .foe-prod-item {
      background-color: #4b473d; 
      padding: 5px 10px; 
      box-shadow: 0 0 10px inset;
      margin-top: 5px;
    }
    .foe-prod-item:first-child {
      margin-top: 0;
    }
    .foe-prod-item > img {
      width: 40px;
      heaight: 40px;
    }
    .foe-prod-detail {
      margin-left: 50px; 
      color: #fff;
    }
    .foe-prod-detail > .foe-quantity {
      display: block; 
      color: #85dc1e; 
      font-weight: 700;
    }
    .foe-bronze-skin table.uk-table.foe-box caption {
      color: #ffe783;
    }
    table.uk-table.foe-box td, table.uk-table.foe-box th {
      border-bottom: 1px solid;
    }
    table.uk-table.foe-box small {
      font-weight: 400;
    }
	</style>
{%endblock%}
{%block content%}
  <h1>Промышленные постройки в Forge of&nbsp;Empires</h1>
  {% if manufactory_list %}
    {% if epoch_list %}
      {% for i in epoch_list %}
      {% if i.id != 1 %}
        <div class='uk-panel uk-panel-box foe-default-skin {% if i.id == 2 %}foe-bronze-skin{% endif %}{% if i.id == 3 %}foe-iron-skin{% endif %}{% if i.id == 4 %}foe-early-skin{% endif %}{% if i.id == 5 %}foe-high-skin{% endif %}'>
        <h2 class='uk-panel-title'>{{ i.name }}</h2>
        {% for n in i.manufactory %}
          <h3 class='foe-tech-title'>{{ n.name }}</h3>
          <div class='uk-grid'>
            <div class='uk-width-1-2'>
              <div class='uk-clearfix'>
                {% if n.pict %}
                    <img style='width:100px;' class='uk-float-left' src="{{ n.pict }}"/>
                {% else %}
                    <img class='uk-float-left' src="http://placehold.it/100x100"/>
                {% endif %}
                <div class='foe-margin-top-fix'>
                  {{ n.desc|safe }}
                  {% if n.technology %}
                    <p>
                      <strong>Необходимая технология:</strong>
                      <br/>{{ n.technology }}
                    </p>
                  {% endif %}
                  <p>
                    <strong>Требуется дорога:</strong>
                    <br/>{% if n.road_width == 1 %}Одинарная (одноклеточная){% else %}Двойная (двуклеточная){% endif %}
                  </p>
                  <p>
                    <strong>Занимает площадь:</strong>
                    <br/>{{ n.width }}х{{ n.height }} клетки
                  </p>
                  <p>
                    <strong>Сырье для ускорения производства:</strong>
                    <br/>{{ n.good_type.source }}
                  </p>
                  <div class='uk-panel-box foe-need-box'>
                    <div class='uk-clearfix foe-prod-item'>
                      <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                      <div class='foe-need-detail'>
                        <span>Производит товар</span>
                        <span class='foe-quantity'>{{ n.good_type }}</span>
                      </div>
                    </div>
                    {% if n.game_point %}
                    <div class='uk-clearfix foe-prod-item'>
                      <div class='foe-need-detail'>
                        <span>Дает очков в рейтинг</span>
                        <span class='foe-quantity'>{{ n.game_point }}</span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <table class='uk-table foe-box'>
                    <caption><strong>Таблица производства:</strong> <br/>потребность в сырье и результат производства при&nbsp;разных временных интервалах</caption>
                    <thead>
                      <tr>
                        <th>Интервал производства</th>
                        <th style='white-space: nowrap'>{{ n.time_group }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Требуется монет</th>
                        <td style='white-space: nowrap'>{{ n.mon_group }}</td>
                      </tr>
                      <tr>
                        <th>Требуется ресурсов</th>
                        <td style='white-space: nowrap'>{{ n.res_group }}</td>
                      </tr>
                      <tr>
                        <th>Произведёт товаров<br/><small>С сырьем, повышающим производительность ({{ n.good_type.source }})</small></th>
                        <td style='white-space: nowrap'>{{ n.q_group }}</td>
                      </tr>
                      <tr>
                        <th>Произведёт товаров<br/><small>Без сырья, повышающего производительность</small></th>
                        <td style='white-space: nowrap'>{{ n.q_group_wo }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class='uk-width-1-2'>
              <p><strong>Необходимо для постройки:</strong></p>
              <div class='uk-panel-box foe-need-box'>
                {% if n.citizen_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/citizen.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Свободного населения</span>
                    <span class='foe-quantity'>{{ n.citizen_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.resource_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/resource.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Ресурсов</span>
                    <span class='foe-quantity'>{{ n.resource_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.money_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/money.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Монет</span>
                    <span class='foe-quantity'>{{ n.money_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.diamond_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/diamonds.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Бриллиантов</span>
                    <span class='foe-quantity'>{{ n.diamond_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.goodcost %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Товаров</span>
                    {% for k in n.goodcost %}
                      <span class='foe-quantity'>{{ k.quantity }} {{ k.good_type }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Я пока ничего не написал о промышленных постройках в Forge of&nbsp;Empires.</p>
  {% endif %}
{%endblock%}