{%extends "layout.html"%}
{%block title%}Монеты в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Монеты в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>Монеты являются основным средством в игре. Монеты необходимы для возведения всех построек (за исключением Великих Строений); выкупа изученных и захваченных расширений территории; открытия технологий; покупки стратегических очков; производства товаров.</p>
  <hr>
  <h2>Постоянные источники монет</h2>
  <p>Основным постоянным источником монет являются жилые постройки. Жилые постройки от других производящих строений отличаются строго заданным временным интервалом производства, причем у разных жилых построек (домов) этот интервал разный. Также постоянными источниками монет являются некоторые Великие Строения, квестовые постройки и Ратуша (приносит 500 монет вне зависимости от эпохи). Для них интервал производства также задан строго и равняется одним полным суткам (24 часа).</p>
  <p>Ознакомиться со списком домов можно в разделе энциклопедии <a target='_blank' href="/wiki/houses/">"Дома в Forge of&nbsp;Empires"</a>.{%if legend_list_money%} Великих Строений, непосредственно приносящих моенты, немного, и можно перечислить их здесь: {%for i in legend_list_money%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>.{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}{%endif%} Квестовые строения, производящие монеты, пока у меня не заведены в базу, поэтому ничего не пишу про них.</p>
  <p>Производство монет домами и квестовыми постройками очень сильно зависит от уровня счастья населения. Если народ несчастен (количество очков счастья меньше числа жителей), производится 50% монет от заявленного в описании постройки. Если счастлив (количество очков счастья больше либо равно числу жителей) - 100%. Если в восторге (количество очков счастья в два раза и более превышает число жителей) - 120%.</p>
  <p>{%if legend_list_money_inflow%}Также на производство монет домами и квестовыми постройками оказывает большое влияние наличие в городе Великого Строения с бонусом "приток монет" (например: {%for i in legend_list_money_inflow%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>.{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}). {%endif%}И наконец, мотивированные дома и квестовые постройки ещё удваивают производство, если их мотивировали ваши согильдийцы, друзья или соседи.</p>
  <p>Все бонусы сладываются, и одно и то же строение при разных условиях может производить количество монет, отличающееся на порядок. Например, Высотное здание при базовом производстве в 5750 монет в сутки может производить от 2875 монет до 48300 монет в сутки.</p>
  <h2>Дополнительные источники монет</h2>
  <p>Дополнительные источники отличаются от постоянных тем, что требуют существенно большей вовлеченности человека в игровой процесс. Скорее монеты, добываемые таким образом, правильнее назвать приятным вознаграждением за эту вовлеченность, так как значимое количество монет добыть посредством дополнительных источников практически невозможно.</p>
  <p>К дополнительным источникам относятся:</p>
  <ul>
    <li>Вознаграждение за улучшение (полировку) общественных построек и декора других игроков - <strong>20 монет за одно действие.</strong></li> 
    <li>Вознаграждение за мотивирование (полировку) производственных и жилых построек других игроков - <strong>20 монет за одно действие.</strong></li> 
    <li>Разграбление жилых построек и некоторых типов квестовых построек других игроков после успешной атаки - <strong>как повезёт.</strong></li> 
    <li>Вознаграждение за выполнение некоторых квестов - <strong>как повезёт.</strong></li>
    <li>Вознаграждение за захват провниции или захват отдельных ее частей. - <strong>как повезёт.</strong></li>
  </ul>
  <h2>Эффективность построек с точки зрения увеличения производства монет</h2>
  <p>Эффективность производства монет сильно зависит от суточного режима игры, и для игроков с разным режимом игры эффективны будут разные постройки. Именно поэтому сравнивать их эффективность нужно с поправкой на различные суточные режимы. Проанализируйте, с какой частотой и на какое время вы заходите в игру ежедневно, и используйте форму выбора режима игры, чтобы определить, какие дома будут приносить для вашего города больше монет.</p>
  <p>По умолчанию эффективность строений в таблице ниже указана из расчета, что игрок уделяет своему городу 16 часов в сутки подряд (вот такой он странный человек). По умолчанию не учитываются бонусы Великих Строений, восторга и мотивирования построек.</p>
  <div class='uk-panel uk-panel-box'>
    <form class="uk-form" method="get">
      <legend>Выбор режима игры</legend>
      <div class="uk-form-controls">
        {{ form }}
        <button type="submit" class="uk-button uk-button-primary uk-button-small uk-margin-left">Перестроить таблицу</button>
      </div>
    </form>
  </div>
  {% if alert == 1 %}<div class="uk-alert uk-alert-danger"><strong>Проверьте настройки режима игры!</strong> В сутках всего 24 часа.</div>{% endif %}
  {% if alert == 2 %}<div class="uk-alert uk-alert-danger"><strong>Проверьте настройки режима игры!</strong> В сутках всего 24 часа, и вы никак не можете играть дважды в день более чем по 12 часов.</div>{% endif %}
  {% if alert == 3 %}<div class="uk-alert uk-alert-danger"><strong>Проверьте настройки режима игры!</strong> В сутках всего 24 часа, и вы никак не можете играть трижды в день более чем по 8 часов.</div>{% endif %}
  
  <p>Строки в таблице ниже отсортированы согласно эффективности производства монет в пересчете на занимаемую площадь от большего к меньшему.  Цветом в таблице выделены <span class='foe-legend'>Великие Строения</span>, <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Эпоха</th>
        <th>Монет с одной клетки в сутки</th>
      </tr>
      {%for i in house_list%}
      <tr {%if i.legend__name%}class='legend'{%endif%}{%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.name }}{{ i.legend__name }}{%if i.level%}, уровень {{ i.level }}{%endif%}</td>
        <td>{{ i.epoch__name }}{{ i.legend__epoch__name }}</td>
        <td>{{ i.e|floatformat:"2" }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  
{%endblock%}
