{%extends "layout.html"%}
{%block title%}Производство ресурсов в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Производство ресурсов в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>Ресурсы являются основным средством в игре. Ресурсы необходимы для возведения всех построек (за исключением Великих строений); открытия технологий; производства товаров.</p>
  <hr>
  <h2>Постоянные источники ресурсов</h2>
  <p>Основным постоянным источником ресурсов являются производственные постройки. Однако производственных построек много, они по разному стоят, занимают разную площадь, требуют разного числа работников и конечно же приносят разное количество ресурсов. Ознакомиться со списком производственных построек можно в разделе энциклопедии <a target='_blank' href="/wiki/production/">"Производственные постройки в Forge of&nbsp;Empires"</a>. Там же можно найти информацию о бонусных (или квестовых, полученных в результате прохождения квеста) производственных постройках.</p>
  {%if legend_list_resource%}
  <p>Кроме производственных построек постоянными источниками ресурсов являются Великие Строения, обладающие бонусом "Производство ресурсов". Это: {%for i in legend_list_resource%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>.{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%} Для Великих Строений интервал производства задан строго и равняется одним полным суткам (24 часа).</p>
  {%endif%}
  <p>Производство ресурсов производственными и квестовыми постройками очень сильно зависит от уровня счастья населения. Если народ несчастен (количество очков счастья меньше числа жителей), производится 50% ресурсов от заявленного в описании постройки. Если счастлив (количество очков счастья больше либо равно числу жителей) - 100%. Если в восторге (количество очков счастья в два раза и более превышает число жителей) - 120%.</p>
  <p>{%if legend_list_resource_inflow%}Также на производство ресурсов производственными и квестовыми постройками оказывает большое влияние наличие в городе Великого Строения с бонусом "приток ресурсов" (например: {%for i in legend_list_resource_inflow%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>.{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}) {%endif%}И наконец, мотивированные производственные и квестовые постройки ещё удваивают производство, если их мотивировали ваши согильдийцы, друзья или соседи.</p>
  <p>Все бонусы сладываются, и одно и то же строение при разных условиях может производить количество ресурсов, отличающееся на порядок. </p>
  <h2>Дополнительные источники ресурсов</h2>
  <p>Дополнительные источники отличаются от постоянных тем, что требуют существенно большей вовлеченности человека в игровой процесс. Скорее ресурсы, добываемые таким образом, правильнее назвать приятным вознаграждением за эту вовлеченность, так как значимое количество ресурсов добыть посредством дополнительных источников практически невозможно.</p>
  <p>К дополнительным источникам относятся:</p>
  <ul>
    <li>Разграбление производственных построек и некоторых типов квестовых построек других игроков после успешной атаки - <strong>как повезёт.</strong></li> 
    <li>Вознаграждение за выполнение некоторых квестов - <strong>как повезёт.</strong></li>
    <li>Вознаграждение за захват провниции или захват отдельных ее частей. - <strong>как повезёт.</strong></li>
  </ul>
  <h2>Эффективность построек с точки зрения увеличения производства ресурсов</h2>
  <p>Каждая производственная постройка занимает некоторое количество клеток на карте города и отвлекает на себя некоторое количество населения. А еще чтобы запустить производство и собрать ресурсы, нужно по строениям кликать — то есть тратить свое личное время. Соответственно, сравнение эффективности производственных построек правильно производить по этим трем параметрам независимо друг от друга. И от того, что для вас в приоритете (личное время ли, эффективность использования площади ли, или эффективность использования населения) — вы можете выбрать наиболее подходящее строение из доступных на текущем уровне развития вашего города.</p>
  <p>Для сравнения используется суточный режим производства, так как он доступен всем постройкам, производящим ресурсы. При сравнении не учитываются бонусы Великих Строений, восторга и мотивирования построек.</p>
  
  <h3>Эффективность использования территории</h3>
  <p>Строки в таблице ниже отсортированы согласно эффективности производства монет в пересчете на занимаемую площадь от большего к меньшему.  Цветом в таблице выделены <span class='foe-legend'>Великие Строения</span>, <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Эпоха</th>
        <th>Ресурсов с одной клетки в сутки</th>
      </tr>
      {%for i in plant_list%}
      <tr {%if i.legend__name%}class='legend'{%endif%}{%if i.plant__premium = 1%}class='premium'{%endif%}{%if i.plant__bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.plant__name }}{{ i.legend__name }}{%if i.level%}, уровень {{ i.level }}{%endif%}</td>
        <td>{{ i.plant__epoch__name }}{{ i.legend__epoch__name }}</td>
        <td>{{ i.e|floatformat:"2" }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  <h3>Эффективность использования населения</h3>
  <p>Строки в таблице ниже отсортированы согласно эффективности производства монет в пересчете на используемое население (производительность труда) от большего к меньшему.  Цветом в таблице выделены <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Эпоха</th>
        <th>Производительность труда</th>
      </tr>
      {%for i in plant_list_p%}
      <tr {%if i.plant__premium = 1%}class='premium'{%endif%}{%if i.plant__bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.plant__name }}</td>
        <td>{{ i.plant__epoch__name }}</td>
        <td>{{ i.e|floatformat:"2" }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  
{%endblock%}
