{%extends "layout.html"%}
{%block title%}Население в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Самый подробный гайд по игре Forge of Empires, раскрывающий суть игры и ее механику.{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}
  <h1>Население в Forge of&nbsp;Empires</h1>
  <p class='foe-lead'>От численности населения зависит то, сколько производственных, промышленных и военных построек вы сможете содержать. Город может функционировать, воевать и даже развиваться без всего чего угодно, кроме населения.</p>
  <hr>
  <h2>Постройки, увеличивающие численность населения</h2>
  <p>Только два типа построек позволяют увеличивать численность населения - это дома и Великие Строения. Вообще-то есть еще некоторые квестовые постройки, увеличивающие население, но по сути - это тоже дома.</p>
  <p>Ознакомиться со списком домов (в том числе и с квестовыми строениями, выполняющими роль домов) можно в разделе энциклопедии <a target='_blank' href="/wiki/houses/">"Дома в Forge of&nbsp;Empires"</a>.{%if legend_list_population%} Великих Строений, увеличивающих население города, немного, и можно перечислить их здесь: {%for i in legend_list_population%}{% if forloop.last %}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>.{%else%}<a target='_blank' href='/wiki/legend/{{ i.id }}'>{{ i }}</a>, {%endif%}{%endfor%}{%endif%}</p>
  <h2>Эффективность построек с точки зрения увеличения численности населения</h2>
  <p>Так как ни Великие Строения, ни дома (или как их называют авторы игры — «жилые постройки») ничего не потребляют, единственным «ресурсом», за который им приходится конкурировать с другими постройками, является занимаемая территория. Соответственно, когда мы говорим об эффективности построек на основании их роли в увеличении численности населения, то наиболее значимым параметром сравнения будет являться численность населения, генерируемого постройкой в пересчете не одну клетку занимаемой площади. Важное добавление: при расчете количества населения с одной клетки учитывается не только площадь самого строения, но и площадь дороги, которая нужна, чтобы строение начало функционировать.</p>
  <p>Строки в таблице ниже отсортированы согласно эффективности с точки зрения увеличения численности населения в пересчете на занимаемую площадь от большего к меньшему. Цветом в таблице выделены <span class='foe-legend'>Великие Строения</span>, <span class='foe-bonus'>бонусные постройки</span> и <span class='foe-premium'>постройки, для строительства которых требуются бриллианты.</span></p>
  <table class='uk-table foe-table'>
    <thead>
      <tr>
        <th>Название</th>
        <th>Эпоха</th>
        <th>Населения с одной клетки</th>
      </tr>
      {%for i in house_list%}
      <tr {%if i.legend__name%}class='legend'{%endif%}{%if i.premium = 1%}class='premium'{%endif%}{%if i.bonus = 1%}class='bonus'{%endif%}>
        <td>{{ i.name }}{{ i.legend__name }}{%if i.level%}, уровень {{ i.level }}{%endif%}</td>
        <td>{{ i.epoch__name }}{{ i.legend__epoch__name }}</td>
        <td>{{ i.e|floatformat:"2" }}</td>
      </tr>
      {%endfor%}
    </thead>
  </table>
  
  
{%endblock%}
