{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}Дороги в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
    .foe-margin-top-fix {
      margin-left: 118px;
    }
    .foe-prod-item {
      background-color: #4b473d; 
      padding: 5px 10px; 
      box-shadow: 0 0 10px inset;
      margin-top: 5px;
    }
    .foe-prod-item:first-child {
      margin-top: 0;
    }
    .foe-prod-item > img {
      width: 40px;
      heaight: 40px;
    }
    .foe-prod-detail {
      margin-left: 50px; 
      color: #fff;
    }
    .foe-prod-detail > .foe-quantity {
      display: block; 
      color: #85dc1e; 
      font-weight: 700;
    }
	</style>
{%endblock%}
{%block content%}
  <h1>Дороги в Forge of&nbsp;Empires</h1>
  {% if road_list %}
    {% if epoch_list %}
      {% for i in epoch_list %}
        <div class='uk-panel uk-panel-box foe-default-skin {% if i.id == 1 %}foe-stone-skin{% endif %}{% if i.id == 2 %}foe-bronze-skin{% endif %}{% if i.id == 3 %}foe-iron-skin{% endif %}{% if i.id == 4 %}foe-early-skin{% endif %}{% if i.id == 5 %}foe-high-skin{% endif %}'>
        <h2 class='uk-panel-title'>{{ i.name }}</h2>
        {% for n in i.road %}
          <h3 class='foe-tech-title'>{{ n.name }}</h3>
          <div class='uk-grid'>
            <div class='uk-width-1-2'>
              <div class='uk-clearfix'>
                <img class='uk-float-left' src="http://placehold.it/100x100"/>
                <div class='foe-margin-top-fix'>
                  {{ n.desc|safe }}
                  {% if n.technology %}
                    <p>
                      <strong>Необходимая технология:</strong>
                      <br/>{{ n.technology }}
                    </p>
                  {% endif %}
                  {% if n.bonus %}<p><strong>Бонусная постройка!</strong></p>{% endif %}
                  {% if n.premium %}<p><strong>Премиальная постройка!</strong></p>{% endif %}
                  <p>
                    <strong>Занимает площадь:</strong>
                    <br/>{{ n.width }}х{{ n.height }} клетки
                  </p>
                  <div class='uk-panel-box foe-need-box'>
                    {% if n.happiness_add %}
                    <div class='uk-clearfix foe-prod-item'>
                      <img class='uk-float-left' src="{%static 'img/happy.png'%}"/>
                      <div class='foe-need-detail'>
                        <span>Приносит счастья</span>
                        <span class='foe-quantity'>{{ n.happiness_add }}</span>
                      </div>
                    </div>
                    {% endif %}
                    {% if n.game_point %}
                    <div class='uk-clearfix foe-prod-item'>
                      <div class='foe-need-detail'>
                        <span>Дает очков в рейтинг</span>
                        <span class='foe-quantity'>{{ n.game_point }}</span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class='uk-width-1-2'>
              <p><strong>Необходимо для постройки:</strong></p>
              <div class='uk-panel-box foe-need-box'>
                {% if n.resource_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/resource.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Ресурсов</span>
                    <span class='foe-quantity'>{{ n.resource_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.money_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/money.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Монет</span>
                    <span class='foe-quantity'>{{ n.money_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.diamond_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/diamonds.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Бриллиантов</span>
                    <span class='foe-quantity'>{{ n.diamond_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.goodcost %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Товаров</span>
                    {% for k in n.goodcost %}
                      <span class='foe-quantity'>{{ k.quantity }} {{ k.good_type }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Я пока ничего не написал о дорогах в Forge of&nbsp;Empires.</p>
  {% endif %}
{%endblock%}