{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}Технологии в Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
    .foe-margin-top-fix {
      margin-left: 108px;
    }
	</style>
{%endblock%}
{%block content%}
  <h1>Технологии в Forge of&nbsp;Empires</h1>
  {% if tech_list %}
    {% if epoch_list %}
      {% for i in epoch_list %}
        <div class='uk-panel uk-panel-box foe-default-skin {% if i.id == 1 %}foe-stone-skin{% endif %}{% if i.id == 2 %}foe-bronze-skin{% endif %}{% if i.id == 3 %}foe-iron-skin{% endif %}{% if i.id == 4 %}foe-early-skin{% endif %}{% if i.id == 5 %}foe-high-skin{% endif %}{% if i.id == 6 %}foe-late-skin{% endif %}{% if i.id == 7 %}foe-colony-skin{% endif %}{% if i.id == 8 %}foe-industry-skin{% endif %}{% if i.id == 9 %}foe-progress-skin{% endif %}{% if i.id == 10 %}foe-modern-skin{% endif %}{% if i.id == 11 %}foe-post-skin{% endif %}'>
        <h2 class='uk-panel-title'>{{ i.name }}</h2>
        {% for n in i.tech %}
          <h3 class='foe-tech-title'>{{ n.name }}</h3>
          <div class='uk-grid'>
            <div class='uk-width-1-2'>
              <div class='uk-clearfix'>
                {% if n.pict %}
                    <img class='uk-float-left' src="{{ n.pict }}"/>
                {% else %}
                    <img class='uk-float-left' src="http://placehold.it/90x90"/>
                {% endif %}
                <div class='foe-margin-top-fix'>
                  {{ n.desc|safe }}
                  {% if n.parent.all %}
                    <p>
                      <strong>Предшествующие технологии:</strong>
                      {% for parent in n.parent.all %}<br/>{{ parent }}{% endfor %}
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class='uk-width-1-2'>
              <p><strong>Необходимо для изучения и открытия:</strong></p>
              <div class='uk-panel-box foe-need-box'>
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/so.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Cтратегических очков</span>
                    <span class='foe-quantity'>{{ n.point_cost }}</span>
                  </div>
                </div>
                {% if n.resource_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/resource.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Ресурсов</span>
                    <span class='foe-quantity'>{{ n.resource_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.money_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/money.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Монет</span>
                    <span class='foe-quantity'>{{ n.money_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.diamond_cost > 0 %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/diamonds.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Бриллиантов</span>
                    <span class='foe-quantity'>{{ n.diamond_cost }}</span>
                  </div>
                </div>
                {% endif %}
                {% if n.goodcost %}
                <div class='uk-clearfix foe-need-item'>
                  <img class='uk-float-left' src="{%static 'img/goods.png'%}"/>
                  <div class='foe-need-detail'>
                    <span>Товаров</span>
                    {% for k in n.goodcost %}
                      <span class='foe-quantity'>{{ k.quantity }} {{ k.good_type }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
    <p>Я пока ничего не написал о технологиях в Forge of&nbsp;Empires.</p>
  {% endif %}
{%endblock%}