@default-background: #f5f5f5;
@default-text-color: #444;
@stone-background: #503920;
@stone-text-color: #dacba8;
@bronze-background: #5c3f11;
@bronze-text-color: #ffe783;
@iron-background: #68301f;
@iron-text-color: #f4eea7;
@early-background: #423e27;
@early-text-color: #cce2a2;
@high-background: #304438;
@high-text-color: #9bf7f7;
@late-background: #452449;
@late-text-color: #f4c5f9;
@colony-background: #69390b;
@colony-text-color: #fecead;
@industry-background: #5c1c1c;
@industry-text-color: #ffafaf;
@progress-background: #451b0d;
@progress-text-color: #caae88;
@modern-background: #27426d;
@modern-text-color: #ffead5;
@post-background: #4f5751;
@post-text-color: #ffead5;

.foe-default-skin {
    border-top: 2px solid #ddd; 
    border-bottom: 2px solid #ddd;
    background-color: @default-background;
    color: @default-text-color;
    h2 {
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
    }
}
.skin(@color: @default-background, @text-color: #444) {
    background-color: fade(@color, 90%);
    color: @text-color;
    border-color: @color;
    a {
        color: @text-color;
        em {
            color: @text-color;
        }
    }
    h1 {
        color: @text-color;
        padding: 5px 15px;
        background-color: @color;
        text-align: center;
    }
    h2.uk-panel-title {
        color: @text-color;
    }
    h3.foe-tech-title {
        color: @text-color;
        padding: 5px 15px;
        background-color: @color;
        a {
            color: @text-color;
        }
    }
    hr {
        border-top: 1px solid @text-color;
    }
    .foe-need-box {
        background-color: @color;
    }
    .uk-thumbnail {
        border: 1px solid @color;
        background-color: @color;
    }
}
.foe-stone-skin {
    .skin(@stone-background, @stone-text-color);
}
.foe-bronze-skin {
    .skin(@bronze-background, @bronze-text-color);
}
.foe-iron-skin {
    .skin(@iron-background, @iron-text-color);
}
.foe-early-skin {
    .skin(@early-background, @early-text-color);
}
.foe-high-skin {
    .skin(@high-background, @high-text-color);
}
.foe-late-skin {
    .skin(@late-background, @late-text-color);
}
.foe-colony-skin {
    .skin(@colony-background, @colony-text-color);
}
.foe-industry-skin {
    .skin(@industry-background, @industry-text-color);
}
.foe-progress-skin {
    .skin(@progress-background, @progress-text-color);
}
.foe-modern-skin {
    .skin(@modern-background, @modern-text-color);
}
.foe-post-skin {
    .skin(@post-background, @post-text-color);
}
    .foe-need-box {
      background-color: #605b4d; 
      padding: 10px;
    }
    .foe-need-item {
      background-color: #5f5f32; 
      padding: 5px 10px; 
      box-shadow: 0 0 10px inset;
      margin-top: 5px;
      color: #444;
    }
    .foe-need-item:first-child {
      margin-top: 0;
    }
    .foe-need-item > img {
      width: 40px;
      heaight: 40px;
    }
    .foe-need-detail {
      margin-left: 50px; 
      color: #fff;
    }
    .foe-need-detail .foe-quantity {
      display: block; 
      color: #85dc1e; 
      font-weight: 700;
    }
    .foe-iron-skin table.foe-quantity {
      line-height: 100%;
      color: #f4eea7 !important;
    }
    .foe-prod-item {
      background-color: #4b473d; 
      padding: 5px 10px; 
      box-shadow: 0 0 10px inset;
      margin-top: 5px;
    }
    .foe-prod-item:first-child {
      margin-top: 0;
    }
    .foe-prod-item > img {
      width: 40px;
      heaight: 40px;
    }
    .foe-prod-detail {
      margin-left: 50px; 
      color: #fff;
    }
    .foe-prod-detail > .foe-quantity {
      display: block; 
      color: #85dc1e; 
      font-weight: 700;
    }
    .foe-bronze-skin table.uk-table.foe-box caption {
      color: #ffe783;
    }
    table.uk-table.foe-box td, table.uk-table.foe-box th {
      border-bottom: 1px solid;
    }
    table.uk-table.foe-box small {
      font-weight: 400;
    }
    table.uk-table.foe-table td, table.uk-table.foe-table th {
      border-bottom: 1px solid #ddd;
    }
    table.uk-table.foe-table .bonus td {
      background-color: #dff0d8;
    }
    table.uk-table.foe-table .premium td {
      background-color: #f2dede;
    }
    table.uk-table.foe-table .legend td {
      background-color: #d9edf7;
    }
    .foe-bonus {
      background-color: #dff0d8;
    }
    .foe-premium {
      background-color: #f2dede;
    }
    .foe-legend {
      background-color: #d9edf7;
    }
    .foe-lead {
      font-size: 1.6em; 
      line-height: 133%;
    }
