/* CSS crunched with Crunch - http://crunchapp.net/ */
.foe-default-skin {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f5f5f5;
  color: #444444;
}
.foe-default-skin h2 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.foe-stone-skin {
  background-color: rgba(80, 57, 32, 0.9);
  color: #dacba8;
  border-color: #503920;
}
.foe-stone-skin a {
  color: #dacba8;
}
.foe-stone-skin a em {
  color: #dacba8;
}
.foe-stone-skin h1 {
  color: #dacba8;
  padding: 5px 15px;
  background-color: #503920;
  text-align: center;
}
.foe-stone-skin h2.uk-panel-title {
  color: #dacba8;
}
.foe-stone-skin h3.foe-tech-title {
  color: #dacba8;
  padding: 5px 15px;
  background-color: #503920;
}
.foe-stone-skin h3.foe-tech-title a {
  color: #dacba8;
}
.foe-stone-skin hr {
  border-top: 1px solid #dacba8;
}
.foe-stone-skin .foe-need-box {
  background-color: #503920;
}
.foe-stone-skin .uk-thumbnail {
  border: 1px solid #503920;
  background-color: #503920;
}
.foe-bronze-skin {
  background-color: rgba(92, 63, 17, 0.9);
  color: #ffe783;
  border-color: #5c3f11;
}
.foe-bronze-skin a {
  color: #ffe783;
}
.foe-bronze-skin a em {
  color: #ffe783;
}
.foe-bronze-skin h1 {
  color: #ffe783;
  padding: 5px 15px;
  background-color: #5c3f11;
  text-align: center;
}
.foe-bronze-skin h2.uk-panel-title {
  color: #ffe783;
}
.foe-bronze-skin h3.foe-tech-title {
  color: #ffe783;
  padding: 5px 15px;
  background-color: #5c3f11;
}
.foe-bronze-skin h3.foe-tech-title a {
  color: #ffe783;
}
.foe-bronze-skin hr {
  border-top: 1px solid #ffe783;
}
.foe-bronze-skin .foe-need-box {
  background-color: #5c3f11;
}
.foe-bronze-skin .uk-thumbnail {
  border: 1px solid #5c3f11;
  background-color: #5c3f11;
}
.foe-iron-skin {
  background-color: rgba(104, 48, 31, 0.9);
  color: #f4eea7;
  border-color: #68301f;
}
.foe-iron-skin a {
  color: #f4eea7;
}
.foe-iron-skin a em {
  color: #f4eea7;
}
.foe-iron-skin h1 {
  color: #f4eea7;
  padding: 5px 15px;
  background-color: #68301f;
  text-align: center;
}
.foe-iron-skin h2.uk-panel-title {
  color: #f4eea7;
}
.foe-iron-skin h3.foe-tech-title {
  color: #f4eea7;
  padding: 5px 15px;
  background-color: #68301f;
}
.foe-iron-skin h3.foe-tech-title a {
  color: #f4eea7;
}
.foe-iron-skin hr {
  border-top: 1px solid #f4eea7;
}
.foe-iron-skin .foe-need-box {
  background-color: #68301f;
}
.foe-iron-skin .uk-thumbnail {
  border: 1px solid #68301f;
  background-color: #68301f;
}
.foe-early-skin {
  background-color: rgba(66, 62, 39, 0.9);
  color: #cce2a2;
  border-color: #423e27;
}
.foe-early-skin a {
  color: #cce2a2;
}
.foe-early-skin a em {
  color: #cce2a2;
}
.foe-early-skin h1 {
  color: #cce2a2;
  padding: 5px 15px;
  background-color: #423e27;
  text-align: center;
}
.foe-early-skin h2.uk-panel-title {
  color: #cce2a2;
}
.foe-early-skin h3.foe-tech-title {
  color: #cce2a2;
  padding: 5px 15px;
  background-color: #423e27;
}
.foe-early-skin h3.foe-tech-title a {
  color: #cce2a2;
}
.foe-early-skin hr {
  border-top: 1px solid #cce2a2;
}
.foe-early-skin .foe-need-box {
  background-color: #423e27;
}
.foe-early-skin .uk-thumbnail {
  border: 1px solid #423e27;
  background-color: #423e27;
}
.foe-high-skin {
  background-color: rgba(48, 68, 56, 0.9);
  color: #9bf7f7;
  border-color: #304438;
}
.foe-high-skin a {
  color: #9bf7f7;
}
.foe-high-skin a em {
  color: #9bf7f7;
}
.foe-high-skin h1 {
  color: #9bf7f7;
  padding: 5px 15px;
  background-color: #304438;
  text-align: center;
}
.foe-high-skin h2.uk-panel-title {
  color: #9bf7f7;
}
.foe-high-skin h3.foe-tech-title {
  color: #9bf7f7;
  padding: 5px 15px;
  background-color: #304438;
}
.foe-high-skin h3.foe-tech-title a {
  color: #9bf7f7;
}
.foe-high-skin hr {
  border-top: 1px solid #9bf7f7;
}
.foe-high-skin .foe-need-box {
  background-color: #304438;
}
.foe-high-skin .uk-thumbnail {
  border: 1px solid #304438;
  background-color: #304438;
}
.foe-late-skin {
  background-color: rgba(69, 36, 73, 0.9);
  color: #f4c5f9;
  border-color: #452449;
}
.foe-late-skin a {
  color: #f4c5f9;
}
.foe-late-skin a em {
  color: #f4c5f9;
}
.foe-late-skin h1 {
  color: #f4c5f9;
  padding: 5px 15px;
  background-color: #452449;
  text-align: center;
}
.foe-late-skin h2.uk-panel-title {
  color: #f4c5f9;
}
.foe-late-skin h3.foe-tech-title {
  color: #f4c5f9;
  padding: 5px 15px;
  background-color: #452449;
}
.foe-late-skin h3.foe-tech-title a {
  color: #f4c5f9;
}
.foe-late-skin hr {
  border-top: 1px solid #f4c5f9;
}
.foe-late-skin .foe-need-box {
  background-color: #452449;
}
.foe-late-skin .uk-thumbnail {
  border: 1px solid #452449;
  background-color: #452449;
}
.foe-colony-skin {
  background-color: rgba(105, 57, 11, 0.9);
  color: #fecead;
  border-color: #69390b;
}
.foe-colony-skin a {
  color: #fecead;
}
.foe-colony-skin a em {
  color: #fecead;
}
.foe-colony-skin h1 {
  color: #fecead;
  padding: 5px 15px;
  background-color: #69390b;
  text-align: center;
}
.foe-colony-skin h2.uk-panel-title {
  color: #fecead;
}
.foe-colony-skin h3.foe-tech-title {
  color: #fecead;
  padding: 5px 15px;
  background-color: #69390b;
}
.foe-colony-skin h3.foe-tech-title a {
  color: #fecead;
}
.foe-colony-skin hr {
  border-top: 1px solid #fecead;
}
.foe-colony-skin .foe-need-box {
  background-color: #69390b;
}
.foe-colony-skin .uk-thumbnail {
  border: 1px solid #69390b;
  background-color: #69390b;
}
.foe-industry-skin {
  background-color: rgba(92, 28, 28, 0.9);
  color: #ffafaf;
  border-color: #5c1c1c;
}
.foe-industry-skin a {
  color: #ffafaf;
}
.foe-industry-skin a em {
  color: #ffafaf;
}
.foe-industry-skin h1 {
  color: #ffafaf;
  padding: 5px 15px;
  background-color: #5c1c1c;
  text-align: center;
}
.foe-industry-skin h2.uk-panel-title {
  color: #ffafaf;
}
.foe-industry-skin h3.foe-tech-title {
  color: #ffafaf;
  padding: 5px 15px;
  background-color: #5c1c1c;
}
.foe-industry-skin h3.foe-tech-title a {
  color: #ffafaf;
}
.foe-industry-skin hr {
  border-top: 1px solid #ffafaf;
}
.foe-industry-skin .foe-need-box {
  background-color: #5c1c1c;
}
.foe-industry-skin .uk-thumbnail {
  border: 1px solid #5c1c1c;
  background-color: #5c1c1c;
}
.foe-progress-skin {
  background-color: rgba(69, 27, 13, 0.9);
  color: #caae88;
  border-color: #451b0d;
}
.foe-progress-skin a {
  color: #caae88;
}
.foe-progress-skin a em {
  color: #caae88;
}
.foe-progress-skin h1 {
  color: #caae88;
  padding: 5px 15px;
  background-color: #451b0d;
  text-align: center;
}
.foe-progress-skin h2.uk-panel-title {
  color: #caae88;
}
.foe-progress-skin h3.foe-tech-title {
  color: #caae88;
  padding: 5px 15px;
  background-color: #451b0d;
}
.foe-progress-skin h3.foe-tech-title a {
  color: #caae88;
}
.foe-progress-skin hr {
  border-top: 1px solid #caae88;
}
.foe-progress-skin .foe-need-box {
  background-color: #451b0d;
}
.foe-progress-skin .uk-thumbnail {
  border: 1px solid #451b0d;
  background-color: #451b0d;
}
.foe-modern-skin {
  background-color: rgba(39, 66, 109, 0.9);
  color: #ffead5;
  border-color: #27426d;
}
.foe-modern-skin a {
  color: #ffead5;
}
.foe-modern-skin a em {
  color: #ffead5;
}
.foe-modern-skin h1 {
  color: #ffead5;
  padding: 5px 15px;
  background-color: #27426d;
  text-align: center;
}
.foe-modern-skin h2.uk-panel-title {
  color: #ffead5;
}
.foe-modern-skin h3.foe-tech-title {
  color: #ffead5;
  padding: 5px 15px;
  background-color: #27426d;
}
.foe-modern-skin h3.foe-tech-title a {
  color: #ffead5;
}
.foe-modern-skin hr {
  border-top: 1px solid #ffead5;
}
.foe-modern-skin .foe-need-box {
  background-color: #27426d;
}
.foe-modern-skin .uk-thumbnail {
  border: 1px solid #27426d;
  background-color: #27426d;
}
.foe-post-skin {
  background-color: rgba(79, 87, 81, 0.9);
  color: #ffead5;
  border-color: #4f5751;
}
.foe-post-skin a {
  color: #ffead5;
}
.foe-post-skin a em {
  color: #ffead5;
}
.foe-post-skin h1 {
  color: #ffead5;
  padding: 5px 15px;
  background-color: #4f5751;
  text-align: center;
}
.foe-post-skin h2.uk-panel-title {
  color: #ffead5;
}
.foe-post-skin h3.foe-tech-title {
  color: #ffead5;
  padding: 5px 15px;
  background-color: #4f5751;
}
.foe-post-skin h3.foe-tech-title a {
  color: #ffead5;
}
.foe-post-skin hr {
  border-top: 1px solid #ffead5;
}
.foe-post-skin .foe-need-box {
  background-color: #4f5751;
}
.foe-post-skin .uk-thumbnail {
  border: 1px solid #4f5751;
  background-color: #4f5751;
}
.foe-need-box {
  background-color: #605b4d;
  padding: 10px;
}
.foe-need-item {
  background-color: #5f5f32;
  padding: 5px 10px;
  box-shadow: 0 0 10px inset;
  margin-top: 5px;
  color: #444;
}
.foe-need-item:first-child {
  margin-top: 0;
}
.foe-need-item > img {
  width: 40px;
  heaight: 40px;
}
.foe-need-detail {
  margin-left: 50px;
  color: #fff;
}
.foe-need-detail .foe-quantity {
  display: block;
  color: #85dc1e;
  font-weight: 700;
}
.foe-iron-skin table.foe-quantity {
  line-height: 100%;
  color: #f4eea7 !important;
}
.foe-prod-item {
  background-color: #4b473d;
  padding: 5px 10px;
  box-shadow: 0 0 10px inset;
  margin-top: 5px;
}
.foe-prod-item:first-child {
  margin-top: 0;
}
.foe-prod-item > img {
  width: 40px;
  heaight: 40px;
}
.foe-prod-detail {
  margin-left: 50px;
  color: #fff;
}
.foe-prod-detail > .foe-quantity {
  display: block;
  color: #85dc1e;
  font-weight: 700;
}
.foe-bronze-skin table.uk-table.foe-box caption {
  color: #ffe783;
}
table.uk-table.foe-box td,
table.uk-table.foe-box th {
  border-bottom: 1px solid;
}
table.uk-table.foe-box small {
  font-weight: 400;
}
table.uk-table.foe-table td,
table.uk-table.foe-table th {
  border-bottom: 1px solid #ddd;
}
table.uk-table.foe-table .bonus td {
  background-color: #dff0d8;
}
table.uk-table.foe-table .premium td {
  background-color: #f2dede;
}
table.uk-table.foe-table .legend td {
  background-color: #d9edf7;
}
.foe-bonus {
  background-color: #dff0d8;
}
.foe-premium {
  background-color: #f2dede;
}
.foe-legend {
  background-color: #d9edf7;
}
.foe-lead {
  font-size: 1.6em;
  line-height: 133%;
}
