/*! Selenite2 styles */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    display:table;
    height: 100%;
    margin: auto;
    width: 100%;
    background-color: transparent;
}
.header {
    display: table-header-group;
}
.content {
    display: table-row-group;
}
.footer {
    display: table-footer-group;
}
.header .cell, .footer .cell {
    height: 1px;
}
.cell {
    display: table-cell;
    padding: 0;
}
<!--[if lte IE 7]><style media="screen">
    .header .cell, .footer .cell {height: auto;}
    .cell { zoom: 1; }
</style><![endif]-->