/*! sidebar */

.fix-sidebar-large {
    width: 150px;
    height: 100%;
    position: fixed;
    clear: both;
    right: 0;
    top: 0;
    background-color: #2f1505;
    color: #eee;
    padding: 15px;
    overflow: hidden;
}
.fix-sidebar-large hr, .fix-sidebar-small hr {
    border-top-color: #666;
}
.fix-sidebar-large ul, .fix-sidebar-large hr {
    margin: 10px 0;
}
.fix-sidebar-large ul li.divider {
    height: 12px;
}
.fix-sidebar-large a {
    color: #aaa;
}
.fix-sidebar-large a:hover {
    color: #888;
}
.ell-black-button {
    color: #aaa;
    background-color: #313131;
    border: 1px solid #666;
}
.ell-black-button:hover {
    color: #888;
    background-color: #262626;
    border: 1px solid #555;
}
.pR200p {
    padding-right: 200px;
}