{%extends "layout.html"%}
{%load staticfiles%}
{%block title%}База Знаний Forge of&nbsp;Empires | Я делаю это:{%endblock%}
{%block meta-description%}Вся необходимая информация для успешного развития в игре Forge of Empires{%endblock%}
{%block meta-keywords%}Forge of Empires, Forge of Empires База знаний, База знаний, Forge of Empires Database, фордж оф импаир, FOE, forgeofempires, обзор, гайд, стратегическая игра, онлайновая стратегическая игра, онлайн-стратегия{%endblock%}
{%block extra_head%}
	<style content='text/css'>
	</style>
{%endblock%}
{%block content%}

{% if user.is_authenticated %}
  <p>Слава тебе, мой повелитель! Сегодня тебя зовут {%if user.first_name or user.last_name%} {{user.first_name}} {{user.last_name}}. {%else%} просто {{user}}.{%endif%} Насладись моим поклонением, и начинай уже впахивай, раб!</p>
{%endif%}

{%if user.is_staff%}

  <div class='uk-panel uk-panel-box'>
    {{ form.management_form }}
    <form class="uk-form uk-form-stacked" method="POST" action="{{request.path}}">
      {% csrf_token %}
      <legend>Добавить технологию</legend>
      
        {% for field in form %}
        <div class="uk-form-row">
          <label class="uk-form-label" for="">{{ field.label_tag }}</label>
          {{ field }}
          <p class="uk-form-help-block">{{ field.help_text }}</p>
        </div>
        {% endfor %}
        <div class="uk-form-row">
          <button type="submit" class="uk-button uk-button-primary">Добавить</button>
        </div>
    </form>
    <form class="uk-form uk-form-stacked" method="POST" action="{{request.path}}">
      {% csrf_token %}
      {{ formset }}
        <div class="uk-form-row">
          <button type="submit" class="uk-button uk-button-primary">Добавить</button>
        </div>
    </form>
    <form class="uk-form uk-form-stacked" method="POST" action="{{request.path}}">
      {% csrf_token %}
      <legend>Добавить расход товара на технологию</legend>
      
        {% for field in form2 %}
        <div class="uk-form-row">
          <label class="uk-form-label" for="">{{ field.label_tag }}</label>
          {{ field }}
          <p class="uk-form-help-block">{{ field.help_text }}</p>
        </div>
        {% endfor %}
        <div class="uk-form-row">
          <button type="submit" class="uk-button uk-button-primary">Добавить</button>
        </div>
    </form>
  </div>

{%endif%}

{%endblock%}
