{%load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>{%block title%}{%endblock%}</title>
    <meta name="description" content="{%block meta-description%}{%endblock%}"/>
    <meta name="keywords" content="{%block meta-keywords%}{%endblock%}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{%static 'css/uikit.min.css'%}" />
    <script src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
    <script src="{%static 'js/uikit.min.js'%}"></script>
    <script type='text/javascript'>
      function checkWindowSize() {
        if ( $(window).width() > 750) { 
          $('div#b').addClass('pR200p');  
        } else {  
          $('div#b').removeClass('pR200p');
        }; 
      }
      $(window).resize(function(){ checkWindowSize(); })
    </script>
    <link rel="stylesheet" href="{%static 'css/page.css'%}" />
    <link rel="stylesheet" href="{%static 'css/sidebarmenu.css'%}" />
    <link rel="stylesheet" href="{%static 'css/foe.css'%}" />
	{%block extra_head%}{%endblock%}
  </head>
	 <!--style='background: url("http://www.ucarecdn.com/07660532-5db1-4990-9044-6e1652b80e51/") repeat scroll 0% 0% transparent;'-->
  <body>
		<!--[if lte IE 7]>
    <table style="width: 100%; height: 100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr><td valign="top" style="height: expression(document.body.offsetHeight - offsetParent.getElementsByTagName('thead')[0].getElementsByTagName('div')[0].offsetHeight-offsetParent.getElementsByTagName('tfoot')[0].getElementsByTagName('div')[0].offsetHeight+'px');"><![endif]-->
		<div class="content">
      <div class="cell">
        <div id='b' class='uk-container uk-container-center uk-margin-top'>
					{%block content%}{%endblock%}
          <script type='text/javascript'>checkWindowSize();</script>
				</div>
      </div>
    </div>
		<!--[if lte IE 7]></td></tr></tbody>
    <tfoot><tr><td valign="bottom"><![endif]-->
    <div class="footer">
      <div class="cell">
        {%include 'block/footer.html'%}
      </div>
    </div>
		<!--[if lte IE 7]></td></tr></tfoot>
   <thead><tr><td valign="top"><![endif]-->
    <div class="header">
      <div class="cell">
				{%include 'block/nav.html'%}
        <div id='b' class='uk-container uk-container-center uk-margin-top uk-margin-bottom'>
					<img src="http://www.ucarecdn.com/cb6198fd-436c-485a-8aee-b04c88ab592f/-/resize/965x/"/>
          <script type='text/javascript'>checkWindowSize();</script>
				</div>
      </div>
    </div>
		<!--[if lte IE 7]></td></tr></thead>
    </table>
    <![endif]-->

    <div class="fix-sidebar-large uk-hidden-small">
      <h3><a class='uk-display-block' href="{%url 'index'%}">База знаний об&nbsp;игре Forge of&nbsp;Empires</a></h3>
      <hr/>
      <ul class="uk-list">
        <li class="uk-nav-header" style='padding: 5px 0'><a href="{%url 'index'%}">Гайды</a></li>
        <li><a href="{%url 'population'%}">Население</a></li>
        <li><a href="{%url 'money'%}">Монеты</a></li>
        <li><a href="{%url 'plant'%}">Ресурсы</a></li>
        <li><a href="{%url 'happiness'%}">Счастье</a></li>
        <li><a href="{%url 'goods'%}">Товары</a></li>
        <li><a href="{%url 'greatb'%}">Великие Строения</a></li>
        <li class='divider'></li>
      </ul>
      <hr/>
      <ul class="uk-list">
        <li class="uk-nav-header" style='padding: 5px 0'><a href='/wiki/'>Энциклопедия</a></li>
        <li><a href="/wiki/epoch/">Эпохи</a></li>
        <li><a href="/wiki/technology/">Технологии</a></li>
        <li><a href="/wiki/houses/">Дома</a></li>
        <li><a href="/wiki/society/">Общественные постройки</a></li>
        <li><a href="/wiki/decor/">Декор</a></li>
        <li><a href="/wiki/road/">Дороги</a></li>
        <li><a href="/wiki/production/">Производственные постройки</a></li>
        <li><a href="/wiki/manufactory/">Промышленные постройки</a></li>
        <li><a href="/wiki/legend/">Великие Строения</a></li>
        <li class='divider'></li>
      </ul>
      <hr/>
      <ul class="uk-list">
        <li class="uk-nav-header" style='padding: 5px 0; color: #aaa'>Сервисы</li>
        <li><a href="/goods/calc/">Калькулятор расчёта обменного курса</a></li>
        <li class='divider'></li>
      </ul>
      <hr/>
      {% if not user.is_authenticated %}
      <div style='position: absolute; bottom: 30px; width: 150px; padding: 15px; margin: 0 -15px; background-color: #2f1505;'>
        <a class='uk-button uk-button-expand' href="{% url 'auth_login' %}">Войти</a>
      </div>
      {% else %}
      <div style='position: absolute; bottom: 30px; width: 150px; padding: 15px; margin: 0 -15px; background-color: #2f1505;'>
        <a class='uk-button uk-button-expand' href="{% url 'auth_logout' %}">Выйти</a>
      </div>
      {% endif %}
    </div>
    
<!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter596563 = new Ya.Metrika({id:596563, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true,params:window.yaParams||{ }}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/596563" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

	</body>
</html>



