{%extends "layout.html"%}
{%block title%}Активация в Базе знаний в Forge of&nbsp;Empires | Я делаю это:{%endblock%}

{% block content %}
<h1>Активация</h1>
Привет, {{ user.name }}!<br/>
Ваша учетная запись активирована. <a href="{% url 'auth_login' %}">Заходите</a> на сайт.
<br/><br/>
{% endblock %}