{%extends "layout.html"%}
{%block title%}Войти в Базу знаний в Forge of&nbsp;Empires | Я делаю это:{%endblock%}

{% block content %}
<h1>Авторизация</h1>

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны.
Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
{% else %}

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

<form class="uk-form uk-form-stacked" method="post" action="{{request.path}}">
  {% csrf_token %}
  {% for field in form %}
  <div class="uk-form-row">
    <label class="uk-form-label" for="">{{ field.label_tag }}</label>
    <div class="uk-form-controls">
      {{ field }}
      {% if field.help_text %}<span class="uk-form-help-inline">{{ field.help_text }}</span>{% endif %}
      {% if field.errors %}<span class="uk-form-help-inline uk-text-danger">{{ field.errors }}</span>{% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="uk-form-row">
    <input class="uk-button" type="submit" value="Вход">
  </div>
</form>
   
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

<p><a href="{% url 'registration_register' %}">Регистрация</a></p>
{% endif %}
{% endblock %}