{%extends "layout.html"%}
{%block title%}Выход из Базы знаний в Forge of&nbsp;Empires | Я делаю это:{%endblock%}

{% block content %}
<h1>Регистрация</h1>
<form method="post" action="{{request.path}}">
{% csrf_token %}
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Зарегистрироваться" / class="clearfix">
</form>
{% endblock %}